

.level-up-data {
  .header {
    background: url(ui/parchment.jpg) repeat;
    background-position-y: bottom;
    margin: -12px -12px;
    padding: 12px;
    background-size: cover;
    h1 {

      position: relative;
      flex: 0 0 20px;
      margin: 0.25rem;
      font-family: "Nodesto", "Signika", "Palatino Linotype", serif;
      font-size: 2rem;
      border-bottom: none;
    }
  }

  h2 {
    &.block-header {

      position: relative;
      flex: 0 0 20px;
      margin: 0.25rem;
      font-family: "Nodesto", "Signika", "Palatino Linotype", serif;
      font-size: 20px;
      border: none;
      display: flex;
      align-items: center;

      &::after {
        content: '';
        flex: 1;
        margin-left: 0.5rem;
        height: 0px;
        background-color: transparent;
        border-top: 2px groove #eeede0;
      }
    }
  }

  h3 {
    &.block-header {

      position: relative;
      flex: 0 0 20px;
      margin: 0.25rem;
      font-family: "Nodesto", "Signika", "Palatino Linotype", serif;
      font-size: 18px;
      border: none;
      display: flex;
      align-items: center;

      &::after {
        content: '';
        flex: 1;
        margin-left: 0.5rem;
        height: 0px;
        background-color: transparent;
        border-top: 2px groove #eeede0;
      }
      &::before {
        content: '';
        flex: 1;
        margin-right: 0.5rem;
        height: 0px;
        background-color: transparent;
        border-top: 2px groove #eeede0;
      }
    }
  }



  #hp-input {
    flex: 0 60px;
  }

  a.roll-hp {
    flex: 0 60px;
    border-radius: 4px;
    height: 25px;
    display: block;
    margin: 0 5px 4px;
    line-height: 24px;
    text-align: center;
    font-size: 13px;
  }

  .skill {
    flex: 0 203px;
    padding: 5px;

    &:nth-of-type(4n-1),  &:nth-of-type(4n-2),  &:nth-of-type(4n-3){
      border-right: rgba(0,0,0,0.4) 1px solid;
    }

    .item-control {
      flex: 0 16px;
      font-size: 10px;
      opacity: 0.8;
      text-align: center;
    }
    input {
      flex: 0 20px;
      text-align: center;
    }
  }
}

.form-header {

  .form-group {

    label {
      font-family: Signika;
      line-height: 20px;
      font-size: 13px;
    }
  }
}

.window-app.dialog {
  label {
    &.block-header {
      position: relative;
      border: none;
      display: flex;
      align-items: center;
      font-weight: 800;

      &::after {
        content: '';
        flex: 1;
        margin-left: 0.5rem;
        height: 0px;
        background-color: transparent;
        border-top: 2px groove #eeede0;
      }
    }
  }
}


.d35ecustom {

  #chat-log .chat-message {
    background: url(/systems/D35E/icons/ui/parchment-tile.png) repeat;
    background-size: 288px;
    background-position-y: 40px;
    border: none;
    hr {

      border-top: 2px solid #4c3632;
      border-bottom: none;
    }
    .card-footer {

      border-top: 1px solid #967671;
      span {
        border-right: 1px solid rgba(0,0,0,0.3);
      }
    }

    &.whisper {
      background-image: linear-gradient(black, black),url(/systems/D35E/icons/ui/parchment-tile.png);
      /* background-size: cover; */
      background-blend-mode: saturation;
    }

  }

  .window-app.dialog {
    border: 8px solid #55493B;
    border-image: url(/systems/D35E/icons/ui/dialog-frame.png) 30 round;
    background: url(/systems/D35E/icons/ui/sidebar-bg.png);
    border-radius: 0;
    .window-content {
      background: none;
      color: white;
      input, select {
        color: white
      }

      label.block-header {
        &::after {
          border-top: 1px solid #75514b !important;
        }
      }
    }

  }

  #hotbar {
    #macro-list {
      border: none;
      flex: 0 0 522px;
    }

    .macro {
      background: url(/systems/D35E/icons/ui/skill-frame.png);
      background-size: cover;
      padding: 2px;
      border: none;
      height: 52px;
      width: 52px;
      flex: 0 0 52px;

      &.inactive {
        background-color: #191818;
      }

      .macro-icon {

        background: rgb(89, 89, 89);
        background: radial-gradient(circle, rgba(89, 89, 89, 1) 0%, rgba(0, 0, 0, 1) 100%);
        height: 48px;
        width: 48px;
        z-index: -3;
        position: absolute;
      }
    }

    #hotbar-page-controls {
      background: url(/systems/D35E/icons/ui/vert-button.png);
      background-size: contain;
      border: none;
      flex: 0 0 26px;
      padding-top: 1px;

    }

    #hotbar-directory-controls {
      background: url(/systems/D35E/icons/ui/vert-button.png);
      background-size: contain;
      border: none;
      flex: 0 0 26px;
      padding-top: 1px;
    }
  }


  .sidebar-tab {
    .directory-list {
      .directory-item {
        position: relative;
        img {

        }
        &.entity.item::after, &.entity.actor::after{
          content: '';
          background: url(/systems/D35E/icons/ui/skill-frame.png);
          background-size: contain;
          width: 48px;
          height: 48px;
          position: absolute;
          left: 2px;
          top: 0;
        }
      }
    }
  }


  button{

    background: url(/systems/D35E/icons/ui/long-button.png);
    background-size: 100% 100%;
    border: none;
    color: white;
    &:disabled {
      filter: grayscale(1);
    }
  }

  .D35E button:not(.tox-tbtn)  {

    background: url(/systems/D35E/icons/ui/long-button.png);
    background-size: 100% 100%;
    border: none;
    color: white;

  }

  .dialog .dialog-buttons button {
    background: url(/systems/D35E/icons/ui/long-button.png);
    background-size: 100% 100%;
    border: none;
    color: white;

    &:disabled {
      filter: grayscale(1);
    }
  }

  .D35E.chat-card .card-buttons button {

    background: url(/systems/D35E/icons/ui/long-button.png);
    background-size: 100% 100%;
    border: none;
    color: white;
    line-height: 32px;
    padding: 0;
    border-radius: 0;

    :hover {

    }
    &:disabled {
      filter: grayscale(1);
    }
  }

  #navigation {
    #nav-toggle {
      border-radius: 0;
      background: url(/systems/D35E/icons/ui/mini-button.png);
      background-size: 100% 100%;
    }

    #scene-list {
      .scene {
        border-radius: 0;
        background: url(/systems/D35E/icons/ui/name-frame.png);
        filter: grayscale(0.4);
        background-size: 100% 100%;
        border: 1px solid rgba(0, 0, 0, 0);
        &.view {
          border: 1px solid red;
          border-bottom: 1px solid #ff6400;
          box-shadow: 0 0 10px #ff6400;
        }

        &.gm {
          filter: none;
          border-radius: 0;
          background: url(/systems/D35E/icons/ui/name-frame.png);
          background-size: 100% 100%;
          border: 1px solid rgba(0, 0, 0, 0);

          &.view {
            border: 1px solid red;
            border-bottom: 1px solid #ff6400;
            box-shadow: 0 0 10px #ff6400;
          }
        }
      }
    }
  }

  #players {
    border-radius: 0;
    border: none;
    line-height: 27px;
    background: url(/systems/D35E/icons/ui/sidebar-bg.png);
    background-size: 100% 100%;
  }

  #sidebar {
    border-radius: 0;
    border: none;
    line-height: 27px;
    background: url(/systems/D35E/icons/ui/sidebar-bg.png);
    background-size: 100% 100%;

    .card-content {
      line-height: initial;
    }

    #scenes .scene {
      h3 {
        background: url(/systems/D35E/icons/ui/frame-2-1-3.png);
        background-size: 100% 100%;
      }
    }

    #compendium li.compendium-pack {
      background: url(/systems/D35E/icons/ui/frame-2-1-3.png);
      background-size: 100% 100%;
      margin: 0px;
      padding: 5px 15px;
      border-bottom: none;

      .status-icons {
        right: 10px;
      }
    }

    header:not(.message-header):not(.folder-header):not(.card-header):not(.part-header) {
      background: url(/systems/D35E/icons/ui/sidebar-top.png);
      background-position: bottom;
      background-size: cover;
      border-bottom: none !important;
      flex: 0 0 36px;
    }

    li.folder {
      h3 {
        padding-left: 36px;
        i {
          display: none;
        }
      }
      &::before{
        content: '';
        background: url(/systems/D35E/icons/ui/icon-folder.png);
        background-size: contain;
        width: 32px;
        height: 32px;
        position: absolute;
        left: 2px;
        top: 3px;
      }
    }

    #journal li.journal {
      &::before{
        content: '';
        background: url(/systems/D35E/icons/ui/icon-journal.png);
        background-size: contain;
        width: 32px;
        height: 32px;
        position: absolute;
        left: 2px;
        top: 0;
      }



      .entity-name{
        padding-left: 36px;
      }
    }

    #sidebar-tabs {
      flex: 0 0 27px;
      border-bottom: 1px solid #967671;
      box-shadow: 0 0 10px #825a5a;


      .item {

        border-radius: 0;
        background: url(/systems/D35E/icons/ui/mini-button-border.png);
        background-size: 100% 100%;
        line-height: 27px;
        border: none;
        opacity: 0.8;

        &.active {
          box-shadow: 0 0 6px inset #a78169;
          opacity: 1;
        }
      }

      .collapse {
        border-radius: 0;
        background: url(/systems/D35E/icons/ui/mini-button-border.png);
        background-size: 100% 100%;
        line-height: 27px;
        border: none;
        flex: 0 0 30px;
      }
    }

    &.collapsed {
      #sidebar-tabs {
        .item {
          flex: 0 0 30px;
        }
      }
    }
  }


  #controls {
    .scene-control {

      border-radius: 0;
      background: url(/systems/D35E/icons/ui/mini-button.png);
      background-size: cover;
      font-size: 20px;

      .control-tool {
        background: url(/systems/D35E/icons/ui/mini-button.png);
        background-size: cover;
        border-radius: 0;
        font-size: 20px;
      }

      .active {
        background: url(/systems/D35E/icons/ui/mini-button.png);
        background-size: cover;
      }
    }
  }

  ::-webkit-scrollbar-thumb {
    outline: none;
    border-radius: 3px;
    background: #452722;
    border: 1px solid #896f5f;
  }

  .placeable-hud .control-icon {
    background: url(/systems/D35E/icons/ui/skill-frame-bg.png);
    background-size: cover;
    border-radius: 0;
    background-color: #191919;
  }

  .sheet-header-profile {
    img {
      border: none
    }

    &::after{
      content: '';
      background: url(/systems/D35E/icons/ui/large-item-frame-empty.png);
      background-size: contain;
      width: 100px;
      height: 100px;
      position: absolute;
      left: 0px;
      top: 0;
      pointer-events: none;


    }
    &.red {
      &::after {
        content: '';
        background: url(/systems/D35E/icons/ui/large-item-frame-red.png);
        background-size: contain;
        width: 100px;
        height: 100px;
        position: absolute;
        left: 0px;
        top: 0;
        pointer-events: none;
      }
     }
    &.blue {
      &::after {
        content: '';
        background: url(/systems/D35E/icons/ui/large-item-frame-blue.png);
        background-size: contain;
        width: 100px;
        height: 100px;
        position: absolute;
        left: 0px;
        top: 0;
        pointer-events: none;
      }
    }
    &.purple {
      &::after {
        content: '';
        background: url(/systems/D35E/icons/ui/large-item-frame-purple.png);
        background-size: contain;
        width: 100px;
        height: 100px;
        position: absolute;
        left: 0px;
        top: 0;
        pointer-events: none;
      }
    }
  }



  .checkmark {
    border: none;
    background: url(/systems/D35E/icons/ui/checkbox-unchecked.png);
    background-size: contain;
    cursor: pointer;
  }

  input ~ .checkmark {
    background: url(/systems/D35E/icons/ui/checkbox-unchecked.png);
    background-size: contain;
  }
  input:checked ~ .checkmark {

    background: url(/systems/D35E/icons/ui/checkbox-checked.png);
    background-size: contain;
  }

  .checkmark:after {
    border: none;
  }


  .blue-button {
    background: linear-gradient(to right, rgba(255, 255, 255, 0.0) 0%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.0)100%), linear-gradient(rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.0) 10%, rgba(255, 255, 255, 0.0) 90%, rgba(255, 255, 255, 0.3)100%), url(/systems/D35E/icons/ui/button-texture.png) repeat !important;
    border: 1px solid rgba(0,0,0,0.7) !important;
    color: rgba(255,255,255,0.9) !important;
    border-radius: 2px !important;
    &:hover {
      background: linear-gradient(to right, rgba(255, 255, 255, 0.0) 0%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.0)100%), linear-gradient(rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.0) 10%, rgba(255, 255, 255, 0.0) 90%, rgba(255, 255, 255, 0.3)100%), url(/systems/D35E/icons/ui/button-texture.png) repeat !important;
      text-shadow: none !important;
    }
  }

  .rollable.image-d20 {
    filter: invert(31%) sepia(6%) saturate(3178%) hue-rotate(145deg) brightness(102%) contrast(94%);
  }

  .sheet {
    border: 6px solid #55493B;
    border-image: url(/systems/D35E/icons/ui/dialog-frame.png) 20 round;
    &.window-app {
      .window-header {
        color: white;
        background: url(/systems/D35E/icons/ui/background-header.png) repeat;
        border-bottom: 2px solid rgba(255,255,255,0.2);
        line-height: 30px;
      }
    }

    h3 {
      &.block-header {
        &::before {
          border-top: 2px solid #75514b !important;
        }
        &::after {
          border-top: 2px solid #75514b !important;
        }
      }
    }
    h2 {
      &.block-header {
        &::after {
          border-top: 2px solid #75514b !important;
        }
      }
    }

    &.actor {
      &.character {
        .window-content {

          background: url(/systems/D35E/icons/ui/background-window.png) repeat;
        }

        .header-details {
          h1 {
            padding: 0;

            input {
              color: #193f48;
              margin: 8px 3px;
            }
          }
        }
      }

      &.npc {
        .window-content {

          background: url(/systems/D35E/icons/ui/background-window.png) repeat;
        }
      }

      .level-up-boxes {
        flex: 110px 0; position: relative;
        padding: 0;
      }

      .level-up-boxes-overlay {
        position: absolute;
        width: 100%;
        flex: 1;
        max-width: calc(100% - 50px);
        height: 110px;
        top:0;
        left: 0;
      }

      .details-skills-list {

        list-style: none;
        margin: 0;
        padding: 0;
        overflow-y: auto;
        background: rgba(255, 255, 255, 0.2);
        border: 1px solid rgba(0,0,0,0.3);
        border-radius: 4px;
        .skill-header {
          border: none;
          border-top: 1px solid rgba(0,0,0,0.3);
          border-radius: 0;
          border-bottom: 1px solid rgba(0,0,0,0.3);
        }
        .skill:nth-child(2n+1) {
          background-color: rgba(255, 255, 255, 0.1) !important;
          border-bottom: 1px solid rgba(255, 255, 255, 0.1)!important;
        }
        .skill:nth-child(2n) {
          background-color: rgba(255, 255, 255, 0.0) !important;
          border-bottom: 1px solid rgba(255, 255, 255, 0.1)!important;
        }
      }
      .inventory-list {
        list-style: none;
        margin: 0;
        padding: 0;
        overflow-y: auto;
        background: rgba(255, 255, 255, 0.2);
        border: 1px solid rgba(0,0,0,0.3);
        border-radius: 4px;

        &.borderless {
          border: none;
          border-top: 1px solid rgba(0,0,0,0.3);
          border-radius: 0;
        }

        .inventory-header {
          border: none;
          border-bottom: 1px solid rgba(0,0,0,0.3);
        }

        .item:nth-child(2n+1) {
          background-color: rgba(255, 255, 255, 0.1) !important;
          border-bottom: 1px solid rgba(255, 255, 255, 0.1)!important;
        }
        .item:nth-child(2n) {
          background-color: rgba(255, 255, 255, 0.0) !important;
          border-bottom: 1px solid rgba(255, 255, 255, 0.1)!important;
        }
        .item-detail {
          border-left: 0 !important;
          border-right: 0 !important;
        }
      }


      .sheet-navigation {
        margin-bottom: 0;

        padding-bottom: 5px;
        border-bottom: none;
        /* margin: 0 0 4px; */
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;

        background: linear-gradient( rgba(255,255,255,0.3) 100%, rgba(255,255,255,0.3)100%), url(/systems/D35E/icons/ui/parchment-2.png) repeat;
        color: rgba(0,0,0,0.8);
        border-bottom: rgba(0,0,0,0.2);

        .item {
          border-bottom-color: #75514b;
          &.active {
            border-bottom-color: #44191A;
          }
        }
        &.subtabs {
          border: 1px solid rgba(0,0,0,0.2);
          border-radius: 2px;
          margin: 2px -4px;
        }
      }

      .primary-body {

        background: url(/systems/D35E/icons/ui/parchment-2.png) repeat;
        border-bottom-left-radius: 2px;
        border-bottom-right-radius: 2px;
        &>div {
          padding: 4px;
        }
      }

      .spellbook-spelllist {
        padding: 4px;
      }
    }

    ul {
      &.attributes {
        li {
          &.attribute {
            border: none !important;
            background: rgba(255,255,255,0.2);
            -webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
            -moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
            box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
          }
        }
      }
    }

    .ability-scores-simple, .details-attack-simple, .details-skills-list, .ability-scores .ability {
      border: none !important;
      background: rgba(255,255,255,0.2);
      -webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
      -moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
      box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
    }


    h4 {
      &.box-title.high {
        line-height: 24px !important;
      }
    }

    input[type="text"] {
      border: 1px solid rgba(0, 0, 0, 0.2) !important;
      height: 24px;
      &:hover {
        border: 1px solid #2C606D !important;
        box-shadow: 0 0 8px #4d8d9d;
      }
      &:focus {
        border: 1px solid #2C606D !important;
        box-shadow: 0 0 8px #2C606D;
      }
    }

    .rollable{
      color: #2C606D;
      &:hover {
      text-shadow: 0 0 10px #2C606D !important;
        color: #2C606D !important;
      }
    }

    .item-controls {
      a {
        color: #2C606D!important;
        &:hover {
          text-shadow: 0 0 10px #2C606D !important;
          color: #2C606D !important;
        }
      }
    }

    .sheet-header {
      border-bottom: none;
      margin: 0 0 4px;
      padding: 4px;
      background: linear-gradient(rgba(255, 255, 255, 0.3) 100%, rgba(255, 255, 255, 0.3) 100%), url(/systems/D35E/icons/ui/parchment-2.png) repeat;
      border-radius: 2px;
      .header-details {
        border-left: none!important;
        .attribute {
          border: none !important;
        }
      }

      img.profile {


      }

      .summary {
        border-top: none;
        li {
          border: none !important;
          margin-bottom: 4px;
          input {
            border: 1px solid rgba(0,0,0,0.2)
          }
        }
      }
      .attributes {
        input {
          border: 1px solid rgba(0,0,0,0.2);
        }
      }

    }

    &.item {
      border: 2px solid #55493B;
      .sheet-navigation {
        background-color: rgba(255,255,255,0.3);
        color: rgba(0,0,0,0.8);
        border-bottom: rgba(0,0,0,0.2);

        .item {
          border-bottom-color: #75514b;
          &.active {
            border-bottom-color: #44191A;
          }
        }
        &.subtabs {
          border-top: 1px solid rgba(0,0,0,0.2);
          border-bottom: 1px solid rgba(0,0,0,0.2);
          margin: 2px -5px;
        }
      }

      .form-header {
        color: #193f48;
        line-height: 14px;
        /* text-align: end; */
        border-bottom: 2px solid #193f48;
        border-top: none;
        margin: 8px 0;

        .form-group {
          margin-top: -10px;

          label {
            font-family: Signika;
            line-height: 20px;
            font-size: 13px;
          }
        }
      }

      .window-header {
        color: white;
        background: url(/systems/D35E/icons/ui/background-header.png) repeat;
        border-bottom: 2px solid rgba(255,255,255,0.2);
        line-height: 24px;
      }

      section.window-content {

        background: url(/systems/D35E/icons/ui/background-window.png) repeat;
      }

      section.sheet-content {
        background: url(/systems/D35E/icons/ui/parchment-2.png) repeat;
        margin: 0px;
        border-radius: 2px;
        min-height: 420px;
        height: 420px;

        &.sheet-weapon {
          min-height: 380px;
          height: 380px;
          margin-bottom: 2px;
        }
      }

      .original-weapon-box {
        margin-bottom: 4px;
        border-radius: 2px;
        background: url(/systems/D35E/icons/ui/parchment-2.png) repeat;
        .sheet-header-small {
          img {
            border: none
          }

          &::after{
            content: '';
            background: url(/systems/D35E/icons/ui/item-frame.png);
            background-size: contain;
            width: 40px;
            height: 40px;
            position: absolute;
            left: 0px;
            top: 0;
            pointer-events: none;
          }
        }
      }

      section.primary-body {
        overflow: auto;
      }
      header {
        background: linear-gradient(rgba(255, 255, 255, 0.3) 100%, rgba(255, 255, 255, 0.3) 100%), url(/systems/D35E/icons/ui/parchment-2.png) repeat;
        padding: 4px;
        border-radius: 2px;
      }

      .header-details {
        h1 {
          padding: 0;
          input {
            color: #2C606D;
            margin: 8px 0;
          }
        }
      }
    }
  }

  .level-up-data {
    .window-header {

      background: url(/systems/D35E/icons/background/paper.png), url(ui/parchment.jpg) repeat;
      background-size: auto;
      background-position-y: -70px;
      background-repeat: no-repeat, repeat;
      color: black;
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    }
    .header {
      background: url(/systems/D35E/icons/background/paper.png), url(ui/parchment.jpg) repeat;
      background-repeat: no-repeat, repeat;
      background-position-y: bottom;
    }
  }

  .spell-range {
    flex: 0;
    padding-left: 0.5rem;
    padding-top: 4px;
    border-top: none !important;
  }

  .scroll-spellbooks {
    margin: 4px !important;
  }

  .master-block {
    border-right: none;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 4px;
    padding: 2px;
    margin: 2px -1px;
    img {
      flex: 0 0 51px !important;
      height: 51px !important;
      margin-right: 6px !important;
    }
    .minion-name {
      font-size: 30px;
      line-height: 30px;
    }

    .minion-of {
      font-size: 18px;
    }
  }
}

.secret {
  display: none;
  .d35gm & {
    display: block;
  }
}

.onboarding {

  background: url(/systems/D35E/icons/ui/onboarding.png);
  background-size: 100% 100%;
  height: auto !important;

  header.window-header {
    border-bottom: none;
  }
  .window-content {
    background: none;
    color: white;
  }

  .dialogue {
    strong {
      color: #d89753;
    }

    font-size: 14px;
    padding: 0 1rem 1.5rem;

    .portrait {
      flex: 0;
      width: 150px;
      height: 150px;
      background-image: url(/systems/D35E/icons/ui/onboarding-hero.png);
      background-size: cover;
      position: absolute;
      left: -160px;
      top: 0
    }
    .content {
      font-size: 14px;

      img {
        display: inline;
        height: 18px;
        border: white 1px solid;
        vertical-align: middle;
      }
    }

    .tip {
      position: absolute;
      padding: 1em;
      background: black;
      font-family: "Signika", "Palatino Linotype", serif;
      font-size: unset;
      top: -94px;
      margin-right: 1rem;
      border: 2px solid #946C54;
      border-radius: 2px;
      -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
      -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
      box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    }


  }

}

.introjs-helperNumberLayer {
  background: black;
  border-color: #75514b;
  font-family: Modesto, sans-serif;
  font-size: 13px;
}

a.inline-roll {
  display: inline-block;
}