.d35ecustom {
  #hotbar {
    #macro-list {
      border: none;
      flex: 0 0 522px;
    }

    .macro {
      background: url(/systems/D35E/icons/ui/skill-frame.png);
      background-size: cover;
      padding: 2px;
      border: none;
      height: 52px;
      width: 52px;
      flex: 0 0 52px;

      &.inactive {
        background-color: #191818;
      }

      .macro-icon {

        background: rgb(89, 89, 89);
        background: radial-gradient(circle, rgba(89, 89, 89, 1) 0%, rgba(0, 0, 0, 1) 100%);
        height: 48px;
        width: 48px;
        z-index: -3;
        position: absolute;
      }
    }

    #hotbar-page-controls {
      background: url(/systems/D35E/icons/ui/vert-button.png);
      background-size: contain;
      border: none;
      flex: 0 0 26px;
      padding-top: 1px;

    }

    #hotbar-directory-controls {
      background: url(/systems/D35E/icons/ui/vert-button.png);
      background-size: contain;
      border: none;
      flex: 0 0 26px;
      padding-top: 1px;
    }
  }


  .sidebar-tab {
    .directory-list {
      .directory-item {
        position: relative;
        img {

        }
        &.entity.item::after, &.entity.actor::after{
          content: '';
          background: url(/systems/D35E/icons/ui/skill-frame.png);
          background-size: contain;
          width: 48px;
          height: 48px;
          position: absolute;
          left: 2px;
          top: 0;
        }
      }
    }
  }


  button {

    background: url(/systems/D35E/icons/ui/long-button.png);
    background-size: 100% 100%;
    border: none;
    color: white;

  }

  .D35E button {

    background: url(/systems/D35E/icons/ui/long-button.png);
    background-size: 100% 100%;
    border: none;
    color: white;

  }

  .dialog .dialog-buttons button {
    background: url(/systems/D35E/icons/ui/long-button.png);
    background-size: 100% 100%;
    border: none;
    color: white;

    &:disabled {
      filter: grayscale(1);
    }
  }

  .D35E.chat-card .card-buttons button {

    background: url(/systems/D35E/icons/ui/long-button.png);
    background-size: 100% 100%;
    border: none;
    color: white;
    line-height: 32px;
    padding: 0;
    border-radius: 0;

    :hover {

    }
  }

  #navigation {
    #nav-toggle {
      border-radius: 0;
      background: url(/systems/D35E/icons/ui/mini-button.png);
      background-size: 100% 100%;
    }

    #scene-list {
      .scene {
        border-radius: 0;
        background: url(/systems/D35E/icons/ui/name-frame.png);
        filter: grayscale(0.4);
        background-size: 100% 100%;
        border: 1px solid rgba(0, 0, 0, 0);
        &.view {
          border: 1px solid red;
          border-bottom: 1px solid #ff6400;
          box-shadow: 0 0 10px #ff6400;
        }

        &.gm {
          filter: none;
          border-radius: 0;
          background: url(/systems/D35E/icons/ui/name-frame.png);
          background-size: 100% 100%;
          border: 1px solid rgba(0, 0, 0, 0);

          &.view {
            border: 1px solid red;
            border-bottom: 1px solid #ff6400;
            box-shadow: 0 0 10px #ff6400;
          }
        }
      }
    }
  }

  #players {
    border-radius: 0;
    border: none;
    line-height: 27px;
    background: url(/systems/D35E/icons/ui/sidebar-bg.png);
    background-size: 100% 100%;
  }

  #sidebar {
    border-radius: 0;
    border: none;
    line-height: 27px;
    background: url(/systems/D35E/icons/ui/sidebar-bg.png);
    background-size: 100% 100%;

    #scenes .scene {
      h3 {
        background: url(/systems/D35E/icons/ui/frame-2-1-3.png);
        background-size: 100% 100%;
      }
    }

    #compendium li.compendium-pack {
      background: url(/systems/D35E/icons/ui/frame-2-1-3.png);
      background-size: 100% 100%;
      margin: 0px;
      padding: 5px 15px;
      border-bottom: none;

      .status-icons {
        right: 10px;
      }
    }

    header:not(.message-header):not(.folder-header) {
      background: url(/systems/D35E/icons/ui/sidebar-top.png);
      background-position: bottom;
      background-size: cover;
      border-bottom: none !important;
      flex: 0 0 36px;
    }

    li.folder {
      h3 {
        padding-left: 36px;
        i {
          display: none;
        }
      }
      &::before{
        content: '';
        background: url(/systems/D35E/icons/ui/icon-folder.png);
        background-size: contain;
        width: 32px;
        height: 32px;
        position: absolute;
        left: 2px;
        top: 3px;
      }
    }

    #journal li.journal {
      &::before{
        content: '';
        background: url(/systems/D35E/icons/ui/icon-journal.png);
        background-size: contain;
        width: 32px;
        height: 32px;
        position: absolute;
        left: 2px;
        top: 0;
      }



      .entity-name{
        padding-left: 36px;
      }
    }

    #sidebar-tabs {
      flex: 0 0 27px;
      border-bottom: 1px solid #967671;
      box-shadow: 0 0 10px #825a5a;


      .item {

        border-radius: 0;
        background: url(/systems/D35E/icons/ui/mini-button-border.png);
        background-size: 100% 100%;
        line-height: 27px;
        border: none;
        opacity: 0.8;

        &.active {
          box-shadow: 0 0 6px inset #a78169;
          opacity: 1;
        }
      }

      .collapse {
        border-radius: 0;
        background: url(/systems/D35E/icons/ui/mini-button-border.png);
        background-size: 100% 100%;
        line-height: 27px;
        border: none;
        flex: 0 0 30px;
      }
    }

    &.collapsed {
      #sidebar-tabs {
        .item {
          flex: 0 0 30px;
        }
      }
    }
  }


  #controls {
    .scene-control {

      border-radius: 0;
      background: url(/systems/D35E/icons/ui/mini-button.png);
      background-size: cover;
      font-size: 20px;

      .control-tool {
        background: url(/systems/D35E/icons/ui/mini-button.png);
        background-size: cover;
        border-radius: 0;
        font-size: 20px;
      }

      .active {
        background: url(/systems/D35E/icons/ui/mini-button.png);
        background-size: cover;
      }
    }
  }

  ::-webkit-scrollbar-thumb {
    outline: none;
    border-radius: 3px;
    background: #452722;
    border: 1px solid #896f5f;
  }

  .placeable-hud .control-icon {
    background: url(/systems/D35E/icons/ui/skill-frame-bg.png);
    background-size: cover;
    border-radius: 0;
    background-color: #191919;
  }
}
