#token-hud .col.actions {
  height: calc(100% + 150px);
  width: 100%;
  justify-content: center;
}

.col.actions .below {
  position: absolute;
  bottom: 0;
  display: flex;
}

.col.actions .above {
  position: absolute;
  top: -50px;
  display: flex;
}

.below .control-icon.token-quick-action {
  margin: 0 5px;
}

.above .control-icon.token-quick-action {
  margin: 0 5px;
}

.portrait-bar {
  height: 100px;
  position: fixed;
  top: 60px;
  overflow: hidden;
  left: 120px;
  z-index: 30;

  .portrait {
    pointer-events: initial;
    overflow: hidden;
    width: 100px;
    height: 100px;
    border: 1px solid #000;
    border-radius: 2px;
    margin-right: 10px;
    position: relative;
    background: rgb(89,89,89);
    background: radial-gradient(circle, rgba(89,89,89,1) 0%, rgba(0,0,0,1) 100%);

    img {
      border: none;
    }

    .buffbox {
      position: absolute;
      width: 120px;
      div {
        height: 16px;
        width: 16px;
        flex: 0 16px;
        background-size: 16px;
        margin: 2px;
        border: white 0.5px solid;
      }
    }

    &.dead {
      filter: grayscale(1);
    }

    .damage {
      background: rgba(255,0,0,0.4);
      position: absolute;
      width: 98px;
    }

    .life {
      position: absolute;
      right: 4px;
      bottom: 0;
      color: black;
      font-weight: 600;
      -webkit-text-stroke: 1px white;
      text-stroke: 1px white;
    }
  }
}