<div class="links-body">
    {{!-- Children Tab --}}

    <div class="tab flexcol" data-group="children">
        <ol class="inventory-list sub-scroll scroll-inventory" style="padding: 0">

            <li class="inventory-header flexrow">
                <h3 class="item-name flexrow">Linked Items</h3>
                <div class="item-detail item-type" style="flex: 0 32px">
                    <span></span></div>
            </li>
            <ol class="item-list" data-pack="D35E.enhancement">
                {{#each linkedItems as |item iid|}}
                <li class="item item-box flexrow" data-item-id="{{item.itemId}}" data-pack-id="{{item.packId}}">
                    <div class="item-name enh-item flexrow">
                        <div class="item-image" style="background-image: url('{{item.img}}')"></div>
                        <h4 class="rollable{{#if item.incorrect}} strikethrough-text{{/if}}">
                            {{item.name~}}
                        </h4>
                    </div>
                    <div class="item-detail item-type flexrow" style="flex: 0 32px">
                        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                    </div>

                </li>
                {{/each}}
            </ol>
        </ol>

    </div>
</div>
