<div class="links-body">
    {{!-- Children Tab --}}

    <div class="tab flexcol" data-group="children">
        <div style="flex: none" class="enhancements">
            <h3 class="form-header">Uses</h3>

            <div class="form-group stacked">
                <label class="checkbox">
                    <input type="checkbox" name="data.enhancements.uses.commonPool" {{checked
                           data.enhancements.uses.commonPool}}/> {{localize "D35E.CommonUsesPool"}}
                </label>
            </div>
            {{#if data.enhancements.uses.commonPool}}
            <div class="form-group uses-per">
                <label>{{localize "D35E.LimitedUses"}}</label>
                <div class="form-fields">
                    <input type="text" name="data.enhancements.uses.value" value="{{data.enhancements.uses.value}}"
                           data-dtype="Number"/>
                    <span class="sep"> / </span>
                    <input type="text" value="{{data.enhancements.uses.max}}" disabled data-dtype="Number"/>
                    <select name="data.enhancements.uses.per">
                        {{#select data.enhancements.uses.per}}
                        <option value=""></option>
                        {{#each config.limitedUsePeriods as |name key|}}
                        <option value="{{key}}">{{name}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </div>
            </div>
            <div class="form-group uses-per">
                <input type="text" name="data.enhancements.uses.maxFormula"
                       value="{{data.enhancements.uses.maxFormula}}" placeholder="{{localize "D35E.MaximumUsesFormula"}}"/>
            </div>
            <div class="form-group stacked">
                <label class="checkbox">
                    <input type="checkbox" name="data.enhancements.uses.autoDeductCharges" {{checked
                           data.enhancements.uses.autoDeductCharges}}/> {{localize "D35E.AutoDeductCharges"}}
                </label>
            </div>
            {{/if}}

        </div>

        <div style="flex: none" class="enhancements">
            <h3 class="form-header">Magic Item Updates
                <button type="button" class="update-magic-item" name="update-item-name">Update From Enhancements</button>
            </h3>
            <div class="form-group stacked">
                <label class="checkbox">
                    <input type="checkbox" name="data.enhancements.automation.updateName" {{checked
                           data.enhancements.automation.updateName}}/> {{localize "D35E.MagicItemUpdateName"}}
                </label>
                <label class="checkbox">
                    <input type="checkbox" name="data.enhancements.automation.updatePrice" {{checked
                           data.enhancements.automation.updatePrice}}/> {{localize "D35E.MagicItemUpdatePrice"}}
                </label>
            </div>
        </div>
        <ol class="inventory-list sub-scroll scroll-inventory" style="padding: 0">

            <li class="inventory-header flexrow">
                <h3 class="item-name flexrow"></h3>

                <div class="item-detail item-actions">
                    <span>Enh.</span></div>
                <div class="item-detail item-actions">
                    <span>Price</span></div>
                <div class="item-detail item-actions">
                    <span>Action</span></div>
                <div class="item-detail item-uses"><span>{{localize "D35E.ChargePlural"}}</span></div>
                <div class="item-detail item-type">
                    <span></span></div>
            </li>
            <ol class="item-list" data-pack="D35E.enhancement">
                {{#each enhancements as |item iid|}}
                <li class="item item-box flexrow" data-item-id="{{item._id}}">
                    <div class="item-name enh-item flexrow">
                        <div class="item-image" style="background-image: url('{{item.img}}')"></div>
                        <h4 class="rollable{{#if item.incorrect}} strikethrough-text{{/if}}">
                            {{~#if item.isStack}}({{item.data.quantity}}) {{/if}}
                            {{item.name~}}
                        </h4>
                    </div>
                    <div class="item-detail item-enh item-actions">
                        <span>
                            <input type="text" value="{{item.data.enh}}" data-dtype="Number"/>
                        </span>
                    </div>
                    <div class="item-detail item-actions">
                        <span>
                            {{item.calcPrice}}
                        </span>
                    </div>
                    <div class="item-detail item-actions">
                        <div class="item-attack">
                            {{#if item.hasAction}}
                            <a class="item-control item-attack"><img class="icon"
                                                                     src="systems/D35E/icons/actions/gladius.svg"></a>
                            {{/if}}
                        </div>
                    </div>
                    <div class="item-detail item-uses flexrow {{#if item.isCharged}}tooltip{{/if}}">

                        {{#unless data.enhancements.uses.commonPool}}
                            {{#if item.isCharged}}
                            {{#unless item.incorrect}}
                            <input type="text" value="{{item.data.uses.value}}" data-dtype="Number"/>
                            <span class="sep"> of </span>
                            <input type="text" value="{{item.data.uses.max}}" disabled data-dtype="Number"/>
                            <span class="tooltipcontent">
                              @resources.{{item.tag}}.value : {{item.data.uses.value}}<br>
                              @resources.{{item.tag}}.max : {{item.data.uses.max}}
                            </span>
                            {{/unless}}
                            {{/if}}
                        {{/unless}}
                    </div>
                    <div class="item-detail item-type flexrow">
                        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                    </div>

                </li>
                {{/each}}
            </ol>
        </ol>

    </div>
</div>