{{!-- Action Type --}}
<div class="form-group select">
  <label>{{localize "D35E.ActionType"}}</label>
  <select name="data.actionType">
    {{#select data.actionType}}
    <option value=""></option>
    {{#each config.itemActionTypes as |name type|}}
    <option value="{{type}}">{{name}}</option>
    {{/each}}
    {{/select}}
  </select>
</div>
{{#if data.actionType}}

{{#if isSpell}}
<div class="form-group">
  <label>{{localize "D35E.SpellEffect"}}</label>
  <div class="form-fields">
    <input type="text" name="data.spellEffect" value="{{data.spellEffect}}" placeholder="{{localize "D35E.SpellEffectExample"}}"/>
  </div>
</div>
<div class="form-group">
  <label>{{localize "D35E.SpellAttackCount"}}</label>
  <div class="form-fields">
    <input type="text" name="data.attackCountFormula" value="{{data.attackCountFormula}}" placeholder="{{localize "D35E.SpellAttackCountExample"}}"/>
  </div>
</div>
{{/if}}

{{!-- Attack Roll Bonus --}}
{{#if hasAttackRoll }}
<div class="form-group">
  <label>{{localize "D35E.AttackRollBonus"}}</label>
  <div class="form-fields">
    <input type="text" name="data.attackBonus" value="{{data.attackBonus}}" placeholder="{{localize "D35E.Formula"}}"/>
  </div>
</div>

<div class="form-group">
  <label>{{localize "D35E.CriticalThreatRange"}}</label>
  <div class="form-fields">
    <input type="text" name="data.ability.critRange" value="{{data.ability.critRange}}" data-dtype="Number"/>
  </div>
</div>

<div class="form-group">
  <label>{{localize "D35E.CriticalMultiplier"}}</label>
  <div class="form-fields">
    <input type="text" name="data.ability.critMult" value="{{data.ability.critMult}}" data-dtype="Number"/>
  </div>
</div>
<div class="form-group">
  <label>{{localize "D35E.CriticalConfirmBonus"}}</label>
  <div class="form-fields">
    <input type="text" name="data.critConfirmBonus" value="{{data.critConfirmBonus}}" placeholder="{{localize "D35E.Formula"}}"/>
  </div>
</div>

<label class="checkbox">
  <input type="checkbox" name="data.ability.vsTouchAc" {{checked data.ability.vsTouchAc}}/> {{localize "D35E.VsTouchAc"}}
</label>
{{!-- Attack Ability --}}
<div class="form-group select">
  <label>{{localize "D35E.AttackAbility"}}</label>
  <select name="data.ability.attack">
    {{#select data.ability.attack}}
    <option value=""></option>
    {{#each config.abilities as |ability a|}}
    <option value="{{a}}">{{ability}}</option>
    {{/each}}
    {{/select}}
  </select>
</div>

<h4 class="attack-header">
  {{localize "D35E.ExtraAttacks"}}
  <a class="attack-control add-attack"><i class="fas fa-plus"></i></a>
</h4>
<ol class="attack-parts form-group">
  {{#each data.attackParts as |part a|}}
  <li class="attack-part flexrow" data-attack-part="{{a}}">
    <input type="text" name="data.attackParts.{{a}}.0" placeholder="{{localize "D35E.AttackBonusFormula"}}" value="{{lookup this "0"}}"/>
    <input type="text" name="data.attackParts.{{a}}.1" placeholder="{{localize "D35E.Name"}}" value="{{lookup this "1"}}"/>
    <a class="attack-control delete-attack"><i class="fas fa-minus"></i></a>
  </li>
  {{/each}}
</ol>
{{/if}}

{{!-- Damage Ability --}}
<div class="form-group select">
  <label>{{localize "D35E.DamageAbility"}}</label>
  <select name="data.ability.damage">
    {{#select data.ability.damage}}
    <option value=""></option>
    {{#each config.abilities as |ability a|}}
    <option value="{{a}}">{{ability}}</option>
    {{/each}}
    {{/select}}
  </select>
  <select name="data.ability.damageMult" data-dtype="Number">
    {{#select data.ability.damageMult}}
    <option value="0.5">x0.5</option>
    <option value="1" {{#unless data.ability.damageMult}}selected="selected"{{/unless}}>x1</option>
    <option value="1.5">x1.5</option>
    <option value="2">x2</option>
    {{/select}}
  </select>
</div>

{{!-- Damage Formula --}}
<h4 class="damage-header">
  {{#unless isHealing }}{{localize "D35E.DamageFormula"}}{{ else }}{{localize "D35E.HealingFormula"}}{{/unless}}
  <a class="damage-control add-damage"><i class="fas fa-plus"></i></a>
</h4>
<ol class="damage-parts form-group tooltip">
  <span class="tooltipcontent">
    NOTE: Normally, every variable entered in these fields are not multiplied on a critical hit,
    EXCEPT the first damage die in the first field. If you want to have something multiplied on
    a critical hit, multiply it by the variable @critMult.<br>
    Examples:<br>
    1d8 + 2 * @critMult<br>
    2d6 + (@critMult)d6
  </span>
  {{#each data.damage.parts as |part i| }}
  <li class="damage-part flexrow" data-damage-part="{{i}}">
    <input type="text" name="data.damage.parts.{{i}}.0" placeholder="{{#unless isHealing }}{{localize "D35E.DamageFormula"}}{{ else }}{{localize "D35E.HealingFormula"}}{{/unless}}" value="{{lookup this "0"}}"/>
    <select name="data.damage.parts.{{i}}.2">
      {{#select (lookup this "2")}}
      <option value="">{{localize "D35E.Custom"}}</option>
      {{#each ../damageTypes as |damage type|}}
      <option value="{{damage.data.data.uniqueId}}">{{damage.data.name}}</option>
      {{/each}}
      {{/select}}
    </select>
    {{#unless (lookup this "2")}}
    <input type="text" name="data.damage.parts.{{i}}.1" value="{{lookup this "1"}}" placeholder="{{localize "D35E.DamageTypes"}}"/>
    {{/unless}}
    <a class="damage-control delete-damage"><i class="fas fa-minus"></i></a>
  </li>
  {{/each}}
</ol>

{{!-- Saving Throw --}}
<div class="form-group input-select">
  <label>{{#unless isSpell}}{{localize "D35E.DCOffset"}}{{else}}{{localize "D35E.DCOffset"}}{{/unless}}</label>
  <div class="form-fields">
    <input type="text" name="data.save.dc" value="{{data.save.dc}}" placeholder="{{#unless isSpell}}{{localize "D35E.DCOffset"}}{{else}}{{localize "D35E.DCOffset"}}{{/unless}}"/>
    <select name="data.save.type">
      {{#select data.save.type}}
      <option value="">{{localize "D35E.Custom"}}</option>
      {{#each config.savingThrowTypes as |saveType type|}}
      <option value="{{type}}">{{saveType}}</option>
      {{/each}}
      {{/select}}
    </select>
    {{#unless data.save.type}}
    <input type="text" name="data.save.description" value="{{data.save.description}}" placeholder="{{localize "D35E.DCDescriptionExample"}}"/>
    {{else}}
    <select name="data.save.ability">
      {{#select data.save.ability}}
      <option value="">{{localize "D35E.Default"}}</option>
      {{#each config.abilities as |ability type|}}
      <option value="{{type}}">{{ability}}</option>
      {{/each}}
      {{/select}}
    </select>
    {{/unless}}



  </div>
</div>

{{!-- Attack Notes --}}
<div class="form-group stacked">
  <label>{{localize "D35E.AttackNotes"}}</label>
  <textarea type="text" name="data.attackNotes">{{data.attackNotes}}</textarea>
</div>

{{!-- Effect Notes --}}
<div class="form-group stacked">
  <label>{{localize "D35E.EffectNotes"}}</label>
  <textarea type="text" name="data.effectNotes" style="white-space: pre">{{data.effectNotes}}</textarea>
</div>


<h4 class="attack-header">
  {{localize "D35E.SpecialActions"}}
  <a class="special-control add-special"><i class="fas fa-plus"></i></a>
</h4>
<ol class="special-parts form-group">
  {{#each data.specialActions as |part a|}}
  <li class="special-part flexcol" data-special-actions="{{a}}">
    <div class="flexrow"><span>Name:</span><input type="text" name="data.specialActions.{{a}}.name" placeholder="{{localize "D35E.Name"}}" value="{{lookup this "name"}}"/></div>
    <div class="flexrow"><span>Action:</span><input type="text" name="data.specialActions.{{a}}.action" placeholder="{{localize "D35E.Action"}}" value="{{lookup this "action"}}"/></div>
    <div class="flexrow"><span>Condition:</span><input type="text" name="data.specialActions.{{a}}.condition" placeholder="{{localize "D35E.Condition"}}" value="{{lookup this "condition"}}"/></div>
    <div class="flexrow"><span>Icon path:</span><input type="text" name="data.specialActions.{{a}}.img" placeholder="{{localize "D35E.Image"}}" value="{{lookup this "img"}}"/></div>
    <a class="special-control delete-special"><i class="fas fa-minus"></i>Remove</a>

  </li>
  {{/each}}
</ol>
{{/if}}
