<div class="D35E chat-card item-card" data-actor-id="{{actor._id}}" data-item-id="{{item._id}}" {{#if
     tokenId}}data-token-id="{{tokenId}}" {{/if}}>
<header class="card-header flexrow">
    <img src="{{item.img}}" title="{{item.name}}" width="36" height="36"/>
    {{#if name}}<h3>{{name}}</h3>{{/if}}
</header>

<div class="card-content">
    {{#each attacks as |atk|}}
    <div class="chat-attack compact">
        <div class="toggle-box">
            <div class="flexrow">
                <div class="flexcol toggle-header">

                    <div class="flexrow">
                        {{#if atk.hasAttack}}
                        <div class="dice-roll damage-roll" style="flex: 0 50px">
                            <div class="dice-flavor">{{localize "D35E.Attack"}} {{#if ../item.data.ability.vsTouchAc}} <i class="fas fa-hand"></i>{{/if}}</div>
                            <div class="dice-result">
                                <h4 class="dice-total{{#if atk.attack.isCrit}} success{{/if}}{{#if atk.attack.isFumble}} failure{{/if}}">
                                    {{atk.attack.total}}</h4>
                            </div>
                        </div>

                        {{/if}}
                        {{#if atk.hasDamage}}
                        <div class="dice-roll damage-roll">
                            <div class="dice-flavor">{{localize "D35E.Damage"}}{{#if ../nonLethal}}<i class="fas fa-tint-slash"></i>{{/if}}</div>
                            <div class="dice-result">
                                <h4 class="dice-total">
                                    {{atk.damage.total}}
                                    {{{atk.damage.shortTooltip}}}
                                </h4>
                            </div>
                        </div>
                        {{/if}}
                    </div>

                    {{#if atk.hasSubdamage}}
                    {{#each atk.subDamage as |dmg|}}
                    <div class="dice-roll damage-roll">
                        {{#if dmg.flavor}}
                        <div class="dice-flavor">{{dmg.flavor}}</div>
                        {{/if}}
                        <div class="dice-result">
                            <h4 class="dice-total">{{dmg.total}}</h4>

                        </div>
                    </div>
                    {{/each}}
                    {{/if}}
                </div>


                {{#if atk.cards.length}}
                <div class="flexcol card-buttons special-action-button" style="margin: 0; flex: 0 40px">
                    {{#each atk.cards as |card|}}
                    <div style="flex: 0">
                    <button style="height: 26px; line-height: 26px; font-size: 16px; margin-top: 20px;overflow: hidden;" data-action="{{card.action}}" data-natural="{{card.natural20}}" data-naturalcrit="{{card.natural20Crit}}" data-fumble="{{card.fumble}}" data-fumblecrit="{{card.fumbleCrit}}" data-nonLethal="{{../../nonLethal}}" data-normaljson="{{card.normalDamage}}" data-json="{{card.data}}" data-critroll="{{../critConfirm.total}}" data-roll="{{../attack.total}}" data-enh="{{card.enh}}"
                            data-material="{{card.material}}" data-alignment="{{card.alignment}}" data-value="{{card.value}}">
                        {{card.label}}
                    </button>
                    </div>
                    {{/each}}
                </div>
                {{/if}}
            </div>

            <div class="toggle-content dice-tooltips" style="display: none">
                {{#if atk.hasAttack}}
                <div class="dice-flavor" style="text-align: center"><h2>Attack details</h2></div>
                {{{atk.attack.tooltip}}}
                {{/if}}
                {{#if atk.hasDamage}}
                <div class="dice-flavor" style="text-align: center"><h2>Damage details</h2></div>
                {{{atk.damage.tooltip}}}
                {{/if}}

                {{#if atk.hasSubdamage}}
                {{#each atk.subDamage as |dmg|}}
                <div class="dice-flavor" style="text-align: center"><h2>Sub-Attack Damage details</h2></div>
                {{{dmg.tooltip}}}
                {{/each}}
                {{/if}}
            </div>
        </div>

        {{#if atk.hasCritConfirm}}
            <div class="toggle-box">

                <div class="flexrow toggle-header">
                <div class="flexrow">
                    <div class="dice-roll damage-roll" style="flex: 0 50px">
                        <div class="dice-flavor">{{localize "D35E.CritS"}} {{#if ../item.data.ability.vsTouchAc}} <i class="fas fa-hand"></i>{{/if}}</div>
                        <div class="dice-result">
                            <h4 class="dice-total{{#if atk.critConfirm.isCrit}} success{{/if}}{{#if atk.critConfirm.isFumble}} failure{{/if}}">
                                {{atk.critConfirm.total}}</h4>
                        </div>
                    </div>
                    {{#if atk.hasDamage}}
                    <div class="dice-roll damage-roll">
                        <div class="dice-flavor">{{localize "D35E.Damage"}}{{#if ../nonLethal}}<i class="fas fa-tint-slash"></i>{{/if}}</div>
                        <div class="dice-result">
                            <h4 class="dice-total">
                                {{atk.critDamage.total}}
                                {{{atk.critDamage.shortTooltip}}}
                            </h4>
                        </div>
                    </div>
                    {{/if}}
                </div>
                </div>

                <div class="toggle-content dice-tooltips" style="display: none">
                    <div class="dice-flavor" style="text-align: center"><h2>Attack details</h2></div>
                    {{{atk.critConfirm.tooltip}}}
                    <div class="dice-flavor" style="text-align: center"><h2>Damage details</h2></div>
                    {{{atk.critDamage.tooltip}}}
                </div>
            </div>
        {{/if}}


        {{#if ../dc.description}}
        <div class="dice-roll attack-roll">
            <div class="dice-flavor">Saving throw</div>
            <div class="dice-result">
                <h4 class="dice-total{{#if atk.attack.isCrit}} success{{/if}}{{#if atk.attack.isFumble}} failure{{/if}}">
                    {{localize "D35E.DC"}} {{../dc.dc}} {{../dc.description}}</h4>
            </div>
        </div>
        {{/if}}

        {{#if ../dc.description}}
        <div class="flexcol card-buttons">
            <button class="everyone" data-action="rollSave" data-value="{{../dc.type}}" data-ability="{{../dc.ability}}" data-target="{{../dc.dc}}">{{localize
                "D35E.RollSavingThrow"}}
            </button>
        </div>
        {{/if}}

        {{#if atk.special.length}}
        <strong style="padding: 0px 2px; margin-bottom: -4px; margin-top: 4px; display: block;">Special actions</strong>
        <div class="flexcol card-buttons">
            {{#each atk.special as |card|}}
            <button class="{{#if card.isTargeted}}special-action-button{{/if}}" data-action="{{card.action}}" data-json="{{card.data}}" data-value="{{card.value}}">{{#if
                card.hasImg}}<img src="{{card.img}}">{{/if}}{{#if card.isTargeted}}<img class="target"
                                                                                        src="/systems/D35E/icons/actions/reticule.svg">{{/if}}{{#unless
                card.isTargeted}}<img class="target" src="/systems/D35E/icons/actions/impact-point.svg">{{/unless}}{{card.label}}
            </button>
            {{/each}}
        </div>
        {{/if}}
        <div class="flexcol property-group gm-sensitive" style="margin-top: 4px">
            {{{atk.effectNotes}}}
        </div>
    </div>
    {{/each}}

    {{#if hasExtraText}}
    <div class="extra-text gm-sensitive">{{{extraText}}}</div>
    {{/if}}


</div>
<footer class="card-footer">
    {{#if hasProperties}}
    {{#each properties as |prop|}}
    <div class="footer flexcol property-group gm-sensitive">
        <label>{{prop.header}}</label>
        <div class="flexrow">
            {{#each prop.value as |v|}}
            <span class="tag">{{v}}</span>
            {{/each}}
        </div>
    </div>
    {{/each}}
    {{/if}}
</footer>

</div>
