<div class="D35E chat-card defense-card" data-actor-id="{{actor._id}}" {{#if tokenId}}data-token-id="{{tokenId}}"{{/if}}>
  <header class="card-header flexrow">
    <img src="/systems/D35E/icons/classfeatures/turn-undead.png" title="{{item.name}}" width="36" height="36"/>
    <h3 class="actor-name">{{name}} - Turn Undead</h3>
  </header>

  <div class="chat-attack">
    <div class="dice-roll max-hd">
      <div class="dice-flavor">Maximum HD</div>
      <div class="dice-result">
        <h4 class="dice-total">{{maxHD}}</h4>
        <div class="dice-formula">{{level}} {{diffHD}}</div>
      </div>
      <div class="dice-result">
        <h4 class="dice-total">{{maxHDResult.total}}</h4>
        {{{maxHDResult.tooltip}}}
      </div>
    </div>
  </div>

  <div class="chat-attack">
    <div class="dice-roll damage-hd-roll">
      <div class="dice-flavor">HD Turned</div>
      <div class="dice-result">
        <h4 class="dice-total">{{damageHD.total}}</h4>
        {{{damageHD.tooltip}}}
      </div>
    </div>
  </div>
</div>
