<form class="{{cssClass}} flexcol" autocomplete="off">

  {{#unless hasClasses}}
    <span class="warning">Your character is missing a class. Some attributes require a class to function. Navigate to Features - Classes to set up a Class.</span>{{/unless}}
  <div class="working">
    <div>
      <h1>
        Updating
      </h1>
    </div>
  </div>
  {{!-- Sheet Header --}}
  <header class="sheet-header flexrow">
    <div class="profile"  >
      <div class="buffbox flexrow">
        {{#each buffs.all.items as |buff bif|}}
          {{#if buff.data.active}}
            <div class="item-image tooltip" style="background-image: url('{{buff.img}}')">
             <span class="tooltipcontent">
                  {{buff.name}}
                </span>
            </div>
          {{/if}}
        {{/each}}
      </div>
      <img src="{{actor.img}}"  data-edit="img">
      <img src="{{actor.data.tokenImg}}" class="token-image"  data-edit="data.tokenImg">
    </div>
    <div class="header-details flexcol">
      <div class="flexrow">
        <h1 class="charname">
          <input name="name" type="text" value="{{actor.name}}" placeholder="{{localize "D35E.CharacterName"}}" title="{{localize "D35E.CharacterName"}}"/>
        </h1>

        <div class="charlevel">
          <div class="level {{#if disableExperience}}noxp{{/if}} tooltip">
            <span class="tooltipcontent">
              @attributes.hd.total : {{data.attributes.hd.total}}<br>
              @details.level.value : {{data.details.level.value}}
            </span>
            {{localize "D35E.ECL"}}
            {{data.details.level.value}}
            ({{classList}})
          </div>
          {{#unless disableExperience}}
            <div class="experience">
              <input name="data.details.xp.value" type="text" value="{{data.details.xp.value}}"
                                                            placeholder="0"/>
              <span class="max"> / {{data.details.xp.max}}</span>
            </div>
            <div class="xpbar">
              <span class="bar" style="width: {{data.details.xp.pct}}%"></span>
            </div>
          {{/unless}}
        </div>
      </div>

      {{!-- Character Summary --}}
      <div class="flexcol">
        <ul class="summary">
          <li>
            <input type="text" name="data.details.gender" value="{{data.details.gender}}" placeholder="{{localize "D35E.Gender"}}" title="{{localize "D35E.Gender"}}"/>
          </li>
          <li>
            <input type="text" name="data.details.alignment" value="{{data.details.alignment}}" placeholder="{{localize "D35E.Alignment"}}" title="{{localize "D35E.Alignment"}}"/>
          </li>
          <li>
            <input type="text" name="data.details.deity" value="{{data.details.deity}}" placeholder="{{localize "D35E.Deity"}}" title="{{localize "D35E.Deity"}}"/>
          </li>
          <li>
            <input type="text" name="data.details.age" value="{{data.details.age}}" placeholder="{{localize "D35E.Age"}}" title="{{localize "D35E.Age"}}"/>
          </li>
          <li>
            <input type="text" name="data.details.height" value="{{data.details.height}}" placeholder="{{localize "D35E.Height"}}" title="{{localize "D35E.Height"}}"/>
          </li>
          <li>
            <input type="text" name="data.details.weight" value="{{data.details.weight}}" placeholder="{{localize "D35E.Weight"}}" title="{{localize "D35E.Weight"}}"/>
          </li>
          <li class="flexrow race-container item  {{#unless race}}norace{{/unless}}"  {{#if race}}data-item-id="{{race._id}}"{{/if}} style="width: 66.66%">
            <div class="race item-image rollable" style="background-image: url({{race.img}})" title="{{labels.race}}">
              {{#unless race}}{{localize "D35E.Race"}}
              {{/unless}}
            </div>

            {{#if race}}
              <span>{{race.name}}</span>
            {{else}}
              <span style='font-family: "Signika", sans-serif; font-size: 13px; opacity: 0.7;'>(Drop from Race Compendium or click + create new)</span>
            {{/if}}
            <div class="item-controls flexrow" style="flex: 0 40px;">
              {{#if owner}}
                {{#unless race}}
                <a class="item-control add" title="{{localize "D35E.CreateItem"}}">
                    <i class="fas fa-plus"></i>
                  </a>
                {{/unless}}
                {{#if race}}
                  <a class="item-control edit" title="{{localize "D35E.EditItem"}}">
                    <i class="fas fa-edit"></i>
                  </a>
                  <a class="item-control delete" title="{{localize "D35E.DeleteItem"}}">
                    <i class="fas fa-trash"></i>
                  </a>
                {{/if}}
              {{/if}}
            </div>
          </li>

          <li>
           <span style="margin-left: 4px">{{data.attributes.speed.land.total}}ft {{ localize "D35E.SpeedLand" }} </span>
          </li>
        </ul>
      </div>

    </div>
  </header>

  {{!-- NPC Sheet Navigation --}}
  <nav class="sheet-navigation tabs" data-group="primary">
    <a class="item active" data-tab="details">{{ localize "D35E.Summary" }}</a>
    <a class="item" data-tab="attributes">{{ localize "D35E.Attributes" }}</a>
    <a class="item" data-tab="defenses">{{ localize "D35E.Defenses" }}</a>
    <a class="item" data-tab="attacks">{{ localize "D35E.Attacks" }}</a>
    <a class="item" data-tab="inventory">{{ localize "D35E.Inventory" }}</a>
    <a class="item" data-tab="feats">{{ localize "D35E.Features" }}</a>
    <a class="item" data-tab="skills">{{ localize "D35E.Skills" }}</a>
    <a class="item" data-tab="buffs">{{ localize "D35E.Buffs" }}</a>
    <a class="item" data-tab="spellbook">{{ localize "D35E.Spells" }}</a>
    <a class="item" data-tab="biography">{{ localize "D35E.Biography" }}</a>
    <a class="item" data-tab="notes">{{ localize "D35E.Notes" }}</a>
  </nav>

  {{!-- NPC Sheet Body --}}
  <section class="primary-body">

    {{!-- Details Tab --}}
    <div class="tab details flexcol" data-group="primary" data-tab="details">
      {{> "systems/D35E/templates/actors/parts/actor-details.html"}}
    </div>
    {{!-- Attributes Tab --}}
    <div class="tab attributes flexcol" data-group="primary" data-tab="attributes">
      {{> "systems/D35E/templates/actors/parts/actor-attributes.html"}}
    </div>

    {{!-- Defenses Tab --}}
    <div class="tab defenses flexcol" data-group="primary" data-tab="defenses">
      {{> "systems/D35E/templates/actors/parts/actor-defenses.html"}}
    </div>

    {{!-- Attacks Tab --}}
    <div class="tab attacks flexcol" data-group="primary" data-tab="attacks">
      {{> "systems/D35E/templates/actors/parts/actor-attacks.html" sections=attacks}}
    </div>

    {{!-- Inventory Tab --}}
    <div class="tab inventory flexcol" data-group="primary" data-tab="inventory">
      {{> "systems/D35E/templates/actors/parts/actor-inventory.html" sections=inventory}}
    </div>

    {{!-- Features Tab --}}
    <div class="tab feats flexcol" data-group="primary" data-tab="feats">
      {{> "systems/D35E/templates/actors/parts/actor-features.html" sections=features}}
    </div>

    {{!-- Skills Tab --}}
    <div class="tab skills flexcol" data-group="primary" data-tab="skills">
      {{> "systems/D35E/templates/actors/parts/actor-skills-front.html"}}
    </div>

    {{!-- Buffs Tab --}}
    <div class="tab buffs flexcol" data-group="primary" data-tab="buffs">
      {{> "systems/D35E/templates/actors/parts/actor-buffs.html" sections=buffs}}
    </div>

    {{!-- Spellbook Tab --}}
    <div class="tab spellbook flexcol" data-group="primary" data-tab="spellbook">
      {{> "systems/D35E/templates/actors/parts/actor-spellbook-front.html"}}
    </div>

    {{!-- Biography Tab --}}
    <div class="tab biography flexcol" data-group="primary" data-tab="biography">
      {{editor content=data.details.biography.value target="data.details.biography.value" button=true owner=owner editable=editable}}
    </div>

    {{!-- Notes Tab --}}
    <div class="tab actor-notes flexcol" data-group="primary" data-tab="notes">
      {{editor content=data.details.notes.value target="data.details.notes.value" button=true owner=owner editable=editable}}
    </div>
  </section>
</form>