<form class="{{cssClass}} flexcol" autocomplete="off">

  {{#unless hasClasses}}<span class="warning">{{ localize 'D35E.WarningMissingClass' }}</span>{{/unless}}
  {{#if hasClasses}}
    {{#unless abilitiesChanged}}
      <span class="warning">{{{ localize 'D35E.WarningMissingAbilityScores' }}}</span>
    {{/unless}}
  {{/if}}
  {{#if notAllLevelsAssigned}}
  <span class="warning">{{ localize 'D35E.WarningMissingLevelData' }}</span>
  {{/if}}

  <div class="item-add-overlay item-add-{{randomUuid}}-overlay" style="display: none;">

    <div class="item-add-list flexcol inventory-list">
      <div class="item-add-close-box"><i class="fas fa-times"></i></div>
      <h2 class="block-header" style="flex: 0; margin-right: 24px" id="items-add-{{randomUuid}}-label">Add Things</h2>
      <div class="items-add-{{randomUuid}}-working-item">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="margin: auto; display: block; margin-top: calc(50% - 100px)" width="60px" height="60px" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid">
          <defs>
            <mask id="ldio-0m4n8qdl07k-mask">
              <path d="M50 13L75 30L75 70L50 87L25 70L25 30L50 13Z" fill="#fff" stroke="#000" stroke-width="0"></path>
            </mask>
          </defs>
          <path d="M50 13L75 30L75 70L50 87L25 70L25 30L50 13Z" fill="#193f48" stroke="#10808b" stroke-width="0"></path><path d="M50 13L75 30L75 70L50 87L58.3 70L58.3 30Z" mask="url(#ldio-0m4n8qdl07k-mask)" fill="#193f48" stroke="#10808b" stroke-width="0">
          <animate attributeName="d" dur="1s" repeatCount="indefinite" keyTimes="0;1" values="M50 13L90 30L90 70L50 87L75 70L75 30Z;M50 13L25 30L25 70L50 87L10 70L10 30Z" begin="-0.2s"></animate>
          <animate attributeName="fill" dur="1s" repeatCount="indefinite" keyTimes="0;0.5;1" values="#193f48;#049bba;#2c606d" begin="-0.2s"></animate>
        </path><path d="M50 13L75 30L75 70L50 87L58.3 70L58.3 30Z" mask="url(#ldio-0m4n8qdl07k-mask)" fill="#193f48" stroke="#10808b" stroke-width="0">
          <animate attributeName="d" dur="1s" repeatCount="indefinite" keyTimes="0;1" values="M50 13L90 30L90 70L50 87L75 70L75 30Z;M50 13L25 30L25 70L50 87L10 70L10 30Z" begin="-0.4s"></animate>
          <animate attributeName="fill" dur="1s" repeatCount="indefinite" keyTimes="0;0.5;1" values="#193f48;#049bba;#2c606d" begin="-0.4s"></animate>
        </path><path d="M50 13L75 30L75 70L50 87L58.3 70L58.3 30Z" mask="url(#ldio-0m4n8qdl07k-mask)" fill="#193f48" stroke="#10808b" stroke-width="0">
          <animate attributeName="d" dur="1s" repeatCount="indefinite" keyTimes="0;1" values="M50 13L90 30L90 70L50 87L75 70L75 30Z;M50 13L25 30L25 70L50 87L10 70L10 30Z" begin="-0.6s"></animate>
          <animate attributeName="fill" dur="1s" repeatCount="indefinite" keyTimes="0;0.5;1" values="#193f48;#049bba;#2c606d" begin="-0.6s"></animate>
        </path><path d="M50 13L75 30L75 70L50 87L58.3 70L58.3 30Z" mask="url(#ldio-0m4n8qdl07k-mask)" fill="#193f48" stroke="#10808b" stroke-width="0">
          <animate attributeName="d" dur="1s" repeatCount="indefinite" keyTimes="0;1" values="M50 13L90 30L90 70L50 87L75 70L75 30Z;M50 13L25 30L25 70L50 87L10 70L10 30Z" begin="-0.8s"></animate>
          <animate attributeName="fill" dur="1s" repeatCount="indefinite" keyTimes="0;0.5;1" values="#193f48;#049bba;#2c606d" begin="-0.8s"></animate>
        </path><path d="M50 13L75 30L75 70L50 87L58.3 70L58.3 30Z" mask="url(#ldio-0m4n8qdl07k-mask)" fill="#193f48" stroke="#10808b" stroke-width="0">
          <animate attributeName="d" dur="1s" repeatCount="indefinite" keyTimes="0;1" values="M50 13L90 30L90 70L50 87L75 70L75 30Z;M50 13L25 30L25 70L50 87L10 70L10 30Z" begin="-1s"></animate>
          <animate attributeName="fill" dur="1s" repeatCount="indefinite" keyTimes="0;0.5;1" values="#193f48;#049bba;#2c606d" begin="-1s"></animate>
        </path><path d="M25 30L75 30" fill="#193f48" stroke="#10808b" stroke-width="0"></path>
          <path d="M25 70L75 70" fill="#193f48" stroke="#10808b" stroke-width="0"></path>
        </svg>
      </div>
      <div class="flexcol items-add-{{randomUuid}}-list" style="display: none; position: relative; height: calc(100% - 30px);">
        <strong class="item-add-label">Filter:</strong>
        <input type="text" id="{{randomUuid}}-itemList-filter" name="{{randomUuid}}-itemList-filter" class="item-search-input">
        <ol class="item-list" style="overflow: auto" id="{{randomUuid}}-itemList">

        </ol>
        <div style="flex: 0">
          <a class="blue-button open-compendium-browser items-add-{{randomUuid}}-openCompendium" style="text-align: center">Open Browser</a>
        </div>
      </div>
    </div>
  </div>
  <div class="working">
    <div>
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="margin: auto; display: block; margin-top: calc(50% - 100px)" width="60px" height="60px" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid">
          <defs>
            <mask id="ldio-0m4n8qdl07k-mask">
              <path d="M50 13L75 30L75 70L50 87L25 70L25 30L50 13Z" fill="#fff" stroke="#000" stroke-width="0"></path>
            </mask>
          </defs>
          <path d="M50 13L75 30L75 70L50 87L25 70L25 30L50 13Z" fill="#193f48" stroke="#10808b" stroke-width="0"></path><path d="M50 13L75 30L75 70L50 87L58.3 70L58.3 30Z" mask="url(#ldio-0m4n8qdl07k-mask)" fill="#193f48" stroke="#10808b" stroke-width="0">
          <animate attributeName="d" dur="1s" repeatCount="indefinite" keyTimes="0;1" values="M50 13L90 30L90 70L50 87L75 70L75 30Z;M50 13L25 30L25 70L50 87L10 70L10 30Z" begin="-0.2s"></animate>
          <animate attributeName="fill" dur="1s" repeatCount="indefinite" keyTimes="0;0.5;1" values="#193f48;#049bba;#2c606d" begin="-0.2s"></animate>
        </path><path d="M50 13L75 30L75 70L50 87L58.3 70L58.3 30Z" mask="url(#ldio-0m4n8qdl07k-mask)" fill="#193f48" stroke="#10808b" stroke-width="0">
          <animate attributeName="d" dur="1s" repeatCount="indefinite" keyTimes="0;1" values="M50 13L90 30L90 70L50 87L75 70L75 30Z;M50 13L25 30L25 70L50 87L10 70L10 30Z" begin="-0.4s"></animate>
          <animate attributeName="fill" dur="1s" repeatCount="indefinite" keyTimes="0;0.5;1" values="#193f48;#049bba;#2c606d" begin="-0.4s"></animate>
        </path><path d="M50 13L75 30L75 70L50 87L58.3 70L58.3 30Z" mask="url(#ldio-0m4n8qdl07k-mask)" fill="#193f48" stroke="#10808b" stroke-width="0">
          <animate attributeName="d" dur="1s" repeatCount="indefinite" keyTimes="0;1" values="M50 13L90 30L90 70L50 87L75 70L75 30Z;M50 13L25 30L25 70L50 87L10 70L10 30Z" begin="-0.6s"></animate>
          <animate attributeName="fill" dur="1s" repeatCount="indefinite" keyTimes="0;0.5;1" values="#193f48;#049bba;#2c606d" begin="-0.6s"></animate>
        </path><path d="M50 13L75 30L75 70L50 87L58.3 70L58.3 30Z" mask="url(#ldio-0m4n8qdl07k-mask)" fill="#193f48" stroke="#10808b" stroke-width="0">
          <animate attributeName="d" dur="1s" repeatCount="indefinite" keyTimes="0;1" values="M50 13L90 30L90 70L50 87L75 70L75 30Z;M50 13L25 30L25 70L50 87L10 70L10 30Z" begin="-0.8s"></animate>
          <animate attributeName="fill" dur="1s" repeatCount="indefinite" keyTimes="0;0.5;1" values="#193f48;#049bba;#2c606d" begin="-0.8s"></animate>
        </path><path d="M50 13L75 30L75 70L50 87L58.3 70L58.3 30Z" mask="url(#ldio-0m4n8qdl07k-mask)" fill="#193f48" stroke="#10808b" stroke-width="0">
          <animate attributeName="d" dur="1s" repeatCount="indefinite" keyTimes="0;1" values="M50 13L90 30L90 70L50 87L75 70L75 30Z;M50 13L25 30L25 70L50 87L10 70L10 30Z" begin="-1s"></animate>
          <animate attributeName="fill" dur="1s" repeatCount="indefinite" keyTimes="0;0.5;1" values="#193f48;#049bba;#2c606d" begin="-1s"></animate>
        </path><path d="M25 30L75 30" fill="#193f48" stroke="#10808b" stroke-width="0"></path>
          <path d="M25 70L75 70" fill="#193f48" stroke="#10808b" stroke-width="0"></path>
        </svg>
      <h1>
        {{ localize 'D35E.Updating' }}
      </h1>
    </div>
  </div>
  {{!-- Sheet Header --}}
  <header class="sheet-header flexrow">
    <div class="profile"  >
      <div class="buffbox flexrow">
        {{#each allbuffs as |buff bif|}}
          {{#if buff.data.active}}
            <div class="item-image tooltip" style="background-image: url('{{buff.img}}')">
              <span class="tooltipcontent">
                {{buff.name}}
              </span>
            </div>
          {{/if}}
        {{/each}}
      </div>
      <img src="{{actor.img}}" class="profile"  data-edit="img">
      <img src="{{actor.data.tokenImg}}" class="token-image"  data-edit="data.tokenImg">
    </div>
    <div class="header-details flexcol">
      <div class="flexrow">
        <h1 class="charname">
          <input name="name" type="text" value="{{actor.name}}" placeholder="{{ localize 'D35E.CharacterName' }}" title="{{ localize 'D35E.CharacterName' }}"/>
        </h1>

        <div class="charlevel">
          <div class="level {{#if disableExperience}}noxp{{/if}} tooltip">
            <span class="tooltipcontent">
              @attributes.hd.total : {{data.attributes.hd.total}}<br>
              @details.level.value : {{data.details.level.value}}
            </span>
            {{ localize 'D35E.ECL' }}
            {{data.details.level.value}}
            ({{classList}})
          </div>
          {{#unless disableExperience}}
            <div class="experience">
            {{#if data.canLevelUp}}
            <a class="btn level-up blue-button" onkeydown="e.preventDefault();">{{ localize 'D35E.LevelUp' }}</a>
            {{/if}}
              <input name="data.details.xp.value" type="text" value="{{data.details.xp.value}}"
                     placeholder="0"/>
              <span class="max"> / {{data.details.xp.max}}</span>
            </div>
            <div class="xpbar">
              <span class="bar" style="width: {{data.details.xp.pct}}%"></span>
            </div>
          {{/unless}}
        </div>
      </div>

      {{!-- Character Summary --}}
      <div class="flexcol">
        <ul class="summary">
          <li>
            <input type="text" name="data.details.gender" value="{{data.details.gender}}" placeholder="{{ localize 'D35E.Gender' }}" title="{{ localize 'D35E.Gender' }}"/>
          </li>
          <li>
            <input type="text" name="data.details.alignment" value="{{data.details.alignment}}" placeholder="{{ localize 'D35E.Alignment' }}" title="{{ localize 'D35E.Alignment' }}"/>
          </li>
          <li>
            <input type="text" name="data.details.deity" value="{{data.details.deity}}" placeholder="{{ localize 'D35E.Deity' }}" title="{{ localize 'D35E.Deity' }}"/>
          </li>
          <li>
            <input type="text" name="data.details.age" value="{{data.details.age}}" placeholder="{{ localize 'D35E.Age'}}" title="{{ localize 'D35E.Age' }}"/>
          </li>
          <li>
            <input type="text" name="data.details.height" value="{{data.details.height}}" placeholder="{{ localize 'D35E.Height' }}" title="{{ localize 'D35E.Height' }}"/>
          </li>
          <li>
            <input type="text" name="data.details.weight" value="{{data.details.weight}}" placeholder="{{ localize 'D35E.Weight' }}" title="{{ localize 'D35E.Weight' }}"/>
          </li>
          <ol class="item-list race-container" style="width: 66.66%">
          <li class="flexrow item {{#unless race}}norace{{/unless}}" {{#if race}}data-item-id="{{race._id}}"{{/if}} style="width: 100%">
            <div class="race item-image {{#if race}}rollable{{/if}}" style="background-image: url({{race.img}})" title="{{labels.race}}">
              {{#unless race}}{{ localize 'D35E.Race' }}
              {{/unless}}
            </div>

            {{#if race}}
              <span>{{race.name}}</span>
            {{else}}
          <span style='font-family: "Signika", sans-serif; font-size: 13px; opacity: 0.7;'>{{{ localize 'D35E.DropFromRaceCompendium' }}}</span>
            {{/if}}
            <div class="item-controls flexrow" style="flex: 0 40px;">
              {{#if owner}}
                {{#unless race}}
                <a class="item-control add" title="{{ localize 'D35E.CreateItem' }}">
                  <i class="fas fa-plus"></i>
                </a>
                {{/unless}}
                {{#if race}}
                  <a class="item-control edit" title="{{ localize 'D35E.EditItem' }}">
                    <i class="fas fa-edit"></i>
                  </a>
                  <a class="item-control delete" title="{{ localize 'D35E.DeleteItem' }}">
                    <i class="fas fa-trash"></i>
                  </a>
                {{/if}}
              {{/if}}
            </div>
          </li>
          </ol>

          <li>
           <span style="margin-left: 4px">{{data.attributes.speed.land.total}}{{ localize 'D35E.DistFtAbbr' }} ({{ localize 'D35E.SpeedLand' }}) </span>
          </li>
        </ul>
      </div>

    </div>
  </header>

  {{!-- NPC Sheet Navigation --}}
  <nav class="sheet-navigation tabs" data-group="primary">
    <a class="item active" data-tab="details">{{ localize 'D35E.Summary' }}</a>
    <a class="item" data-tab="attributes">{{ localize 'D35E.Attributes' }}</a>
    <a class="item" data-tab="attacks">{{ localize 'D35E.Combat' }}</a>
    <a class="item" data-tab="inventory">{{ localize 'D35E.Inventory' }}</a>
    <a class="item" data-tab="feats">{{ localize 'D35E.Features' }}</a>
    <a class="item" data-tab="skills">{{ localize 'D35E.Skills' }}</a>
    <a class="item" data-tab="buffs">{{ localize 'D35E.Buffs' }}</a>
    {{#if data.showSpellcastingSheet}}
    <a class="item" data-tab="spellbook">{{ localize 'D35E.Spells' }}</a>
    {{/if}}
    {{#if data.showCardSheet}}
    <a class="item" data-tab="deck">{{ localize 'D35E.SpellCards' }}</a>
    {{/if}}
    <a class="item" data-tab="biography">{{ localize 'D35E.Biography' }}</a>
    <a class="item" data-tab="notes">{{ localize 'D35E.Notes' }}</a>
    <a class="item header-button" data-tab="config"><i class="fas fa-cogs"></i></a>
  </nav>

  {{!-- NPC Sheet Body --}}
  <section class="primary-body">

    {{!-- Details Tab --}}
    <div class="tab details flexcol" data-group="primary" data-tab="details">
      {{> "systems/D35E/templates/actors/parts/actor-details.html"}}
    </div>
    {{!-- Attributes Tab --}}
    <div class="tab attributes flexcol" data-group="primary" data-tab="attributes">
      {{> "systems/D35E/templates/actors/parts/actor-attributes.html"}}
    </div>

    {{!-- Defenses Tab --}}
    <div class="tab defenses flexcol" data-group="primary" data-tab="defenses">
      {{> "systems/D35E/templates/actors/parts/actor-defenses.html"}}
    </div>

    {{!-- Attacks Tab --}}
    <div class="tab attacks flexcol" data-group="primary" data-tab="attacks">
      {{> "systems/D35E/templates/actors/parts/actor-attacks.html" sections=attacks}}
    </div>

    {{!-- Inventory Tab --}}
    <div class="tab inventory primary-group flexcol" data-group="primary" data-tab="inventory">
        {{> "systems/D35E/templates/actors/parts/actor-inventory.html" sections=inventory}}
    </div>

    {{!-- Features Tab --}}
    <div class="tab feats flexcol" data-group="primary" data-tab="feats">
      {{> "systems/D35E/templates/actors/parts/actor-features.html" sections=features}}
    </div>

    {{!-- Skills Tab --}}
    <div class="tab skills flexcol" data-group="primary" data-tab="skills">
      {{> "systems/D35E/templates/actors/parts/actor-skills-front.html"}}
    </div>

    {{!-- Buffs Tab --}}
    <div class="tab buffs flexcol" data-group="primary" data-tab="buffs">
      {{> "systems/D35E/templates/actors/parts/actor-buffs.html" sections=buffs}}
    </div>

    {{!-- Spellbook Tab --}}
    <div class="tab spellbook flexcol" data-group="primary" data-tab="spellbook">
      {{> "systems/D35E/templates/actors/parts/actor-spellbook-front.html"}}
    </div>

    {{!-- Decks Tab --}}
    <div class="tab spellbook flexcol" data-group="primary" data-tab="deck">
      {{> "systems/D35E/templates/actors/parts/actor-deck-front.html"}}
    </div>

    {{!-- Biography Tab --}}
    <div class="tab biography flexcol" data-group="primary" data-tab="biography">
      {{editor content=data.details.biography.value target="data.details.biography.value" button=true owner=owner editable=editable}}
    </div>

    {{!-- Notes Tab --}}
    <div class="tab actor-notes flexcol" data-group="primary" data-tab="notes">
      {{editor content=data.details.notes.value target="data.details.notes.value" button=true owner=owner editable=editable}}
    </div>

    {{!-- Config Tab --}}
    <div class="tab actor-notes flexcol" data-group="primary" data-tab="config">
      {{> "systems/D35E/templates/actors/parts/actor-config.html"}}
    </div>
  </section>
  {{#if isPlayerEditLocked}}
  <script>
    $( "#actor-{{actorId}} input[type='text']" ).prop( "disabled", true ); //Disable
    $( "#actor-{{actorId}}  input[type='checkbox']:not('.buff-toggle')" ).prop( "disabled", true ); //Disable
    $( "#actor-{{actorId}}  textarea" ).prop( "disabled", true ); //Disable
    $( "#actor-{{actorId}}  a.item-edit" ).addClass( "disabled-action" ); //Disable
    $( "#actor-{{actorId}}  a.item-control:not(.item-attack):not(.item-attack-convert):not(.item-buy):not(.item-loot):not(.item-delete):not(.item-carry):not(.item-equip)" ).addClass( "disabled-action" ); //Disable
    $( "#actor-{{actorId}}  .traits a" ).addClass( "disabled-action" ); //Disable
    $( "#actor-{{actorId}}  .open-compendium-pack" ).addClass( "disabled-action" ); //Disable
    $( "#actor-{{actorId}}  .open-compendium-browser" ).addClass( "disabled-action" ); //Disable
    $( "#actor-{{actorId}}  .level-class-image" ).addClass( "disabled-action" ); //Disable
    $( "#actor-{{actorId}}  .configure-spellbook" ).addClass( "disabled-action" ); //Disable
    $( "#actor-{{actorId}}  .point-buy" ).addClass( "disabled-action" ); //Disable
    $( "#actor-{{actorId}}  .note-editor" ).addClass( "disabled-action" ); //Disable

  </script>
  {{/if}}
  <script>

    function modifyInputValue(id, value) {
      if (parseInt($(`input[name='${id}']`).val() || 1) + value < 1) return;
      $(`input[name='${id}']`).val(parseInt($(`input[name='${id}']`).val() || 0) + value)
    }
  </script>
</form>
