<form class="{{cssClass}}" autocomplete="off">

  <!-- HEADER -->
  <header class="sheet-header">
    <h1 class="charname">
      <input name="name" type="text" value="{{actor.name}}" placeholder="{{ localize 'D35E.CharacterName' }}"/>
    </h1>
  </header>

  <!-- BODY -->
  <section class="sheet-body" style="height: calc(100% - 80px);">
    <div class="sheet-profile">
      <img  src="{{actor.img}}" title="{{actor.name}}" data-edit="img"/>
      <img src="{{actor.data.tokenImg}}" class="token-image"  data-edit="data.tokenImg">
    </div>
    <div class="tab biography">
      {{editor content=data.details.biography.value target="data.details.biography.value" button=true owner=owner editable=editable}}
    </div>
  </section>
</form>
