<form class="{{cssClass}} flexcol" autocomplete="off">
  
  {{!-- NPC Sheet Header --}}
  <header class="sheet-header flexrow">
    <div class="profile">
    <img src="{{actor.img}}" title="{{actor.name}}" data-edit="img"/>
    <img src="{{actor.data.tokenImg}}" class="token-image"  data-edit="data.tokenImg">
    </div>
    <div class="header-details flexcol">
      <div class="header-top flexrow">
        <h1 class="charname">
          <input name="name" type="text" value="{{actor.name}}" placeholder="{{ localize 'D35E.CharacterName' }}"/>
        </h1>
    </div>
  </header>
  
  <section class="primary-body">

    {{!-- Inventory Tab --}}
    <div class="tab inventory flexcol">
      {{> "systems/D35E/templates/actors/parts/actor-inventory.html" sections=inventory}}
    </div>

  </section>
  
</form>
