<style>
    .welcome-screen a.patreon {
        background-color: #F96854;
        padding: 4px 10px;
        color: white;
        border-radius: 16px;
        text-decoration: none;
    }
    .welcome-screen .window-content > * {
        flex: 0;
    }

    .welcome-screen h3 {
        margin: 0 !important;
    }
</style>

<h1>Dungeons and Dragons 3.5E SRD</h1>
<p>Welcome to D&D 3.5E SRD implementation for Foundry VTT! It was created from love for old D&D editions and aims to provide full 3.5E SRD implementation and system flexible enough for anything else.</p>
<p>If you have any questions, you can talk to with me and other users on <a href="https://discord.gg/wDyUaZH">project Discord</a></p>
<p>You can check current status of SRD implementation <a href="https://github.com/Rughalt/D35E/projects/1">here</a></p>
<p>If you find any bugs you can post them directly to <a href="https://github.com/Rughalt/D35E/issues">GitHub issues</a>.
    You can also post them on dedicated discord channel, but keeping a copy on GitHub will make it easier for anyone to see
    if issue has already been posted.</p>

<p style="font-weight: bold; text-align: right;">Happy DMing,<br>Rughalt</p>
<h2></h2>
<p style="display: flex; flex-flow: row nowrap; align-items: center; justify-content: flex-start;"><input type="checkbox" class='show-again' id="welcome-screen-show-again"/> <label for="welcome-screen-show-again">Don't show this screen again until next update.</label></p>
<p style="text-align: right">Want to support development? <a class="patreon" href="https://www.patreon.com/Rughalt">Become a Patron</a></p>
<h2></h2>
<h1>Changelog</h1>
<h2>v0.81</h2>
<h3>SRD</h3>
<ul>
    <li> Finished Base Classes (without Wilder and Soulknife special abilities)</li>
    <li> Finished Races (without new icons)</li>
    <li> Finished Racial HD</li>
    <li> Added images for existing base items</li>
</ul>
<h3>New features</h3>
<ul>
    <li> Level adjustment for races</li>
    <li> Buff time tracking</li>
    <li> Use multiple items/features/classes charges at once</li>
    <li> Ability to use ammunition with ranged weapon attacks</li>
    <li> Ability to assign bonus damage to ammunition</li>
    <li> Added party HUD</li>
    <li> Added this screen</li>
</ul>
<h3>Fixes</h3>
<ul>
    <li> <a href="https://github.com/Rughalt/D35E/issues/2">#2</a> - Limited character sheet scrollbars</li>
    <li> <a href="https://github.com/Rughalt/D35E/issues/3">#3</a> - Saving throws rolled multiple times</li>
</ul>