<style>
    .welcome-screen a.patreon {
        background-color: #F96854;
        padding: 4px 10px;
        color: white;
        border-radius: 16px;
        text-decoration: none;
    }
    .welcome-screen .window-content > * {
        flex: 0;
    }

    .welcome-screen h3 {
        margin: 0 !important;
    }
</style>

<h1>DND 3.5E SRD</h1>
<p>Welcome to DND 3.5E SRD implementation for Foundry VTT! It was created from love for old DND editions and aims to provide full 3.5E SRD implementation and system flexible enough for anything else.</p>
<p>If you have any questions, you can talk to with me and other users on <a href="https://discord.gg/wDyUaZH">project Discord</a></p>
<p>You can check current status of SRD implementation <a href="https://github.com/Rughalt/D35E/projects/1">here</a></p>
<p>If you find any bugs you can post them directly to <a href="https://github.com/Rughalt/D35E/issues">GitHub issues</a>.
    You can also post them on dedicated discord channel, but keeping a copy on GitHub will make it easier for anyone to see
    if issue has already been posted.</p>

<p style="font-weight: bold; text-align: right;">Happy GMing,<br>Rughalt</p>
<h2></h2>
<p style="display: flex; flex-flow: row nowrap; align-items: center; justify-content: flex-start;"><input type="checkbox" class='show-again' id="welcome-screen-show-again"/> <label for="welcome-screen-show-again">Don't show this screen again until next update.</label></p>
<p style="text-align: right">Want to support development? <a class="patreon" href="https://www.patreon.com/Rughalt">Become a Patron</a></p>
<h2></h2>
<h1>Changelog</h1>

<h2>v0.83.2</h2>
<h3>SRD</h3>
<ul>
    <li> Fixed Monster compendium to be SRD compliant
</ul>
<h3>Fixes</h3>
<ul>
    <li> Removed DND copyrighted names from description and packge title and readme</li>
    <li> Fixed spell icon</li>
    <li> <a href="https://github.com/Rughalt/D35E/issues/39">#39</a> - Turn Undead Uses is still not calculating correctly. </li>
    <li> <a href="https://github.com/Rughalt/D35E/issues/40">#40</a> - Dragging an Item from the sidebar into a character sheet doesn't retain Action data.</li>
</ul>
<h2>v0.83</h2>
<h3>SRD</h3>
<ul>
    <li> Monster compendium
    <li> Fixes for Racial HD compendium
    <li> Conditions compendium
</ul>
<h3>Features</h3>
<ul>
  <li> Shapechange feature - access it on Buff - Shapechange tab. Create shapechange buffs by dragging NPC Actors into character sheet.
  <li> Wildshape - melds used items and attacks, copies natural attack of monster and sets abilities
  <li> Polymorph - melds natural attacks, copies natural attack of monster and sets abilities
  <li> Alter self - changes appearance
  <li> <a href="https://github.com/Rughalt/D35E/issues/15">#15</a> - Rolling NPC Hit Die
</ul>
<h3>Fixes</h3>
<ul>
  <li> Golem bonus HP now depends on size
  <li> Undead HP and Fortitude are no longer calculated using their Charisma modifier anymore
  <li> Sped up container updates
  <li> <a href="https://github.com/Rughalt/D35E/issues/33">#38</a> - Revealing details for unidentified items
  <li> <a href="https://github.com/Rughalt/D35E/issues/33">#33</a> - Conditions Compendium using Pathfinder conditions not 3.5
  <li> <a href="https://github.com/Rughalt/D35E/issues/34">#34</a> - Racial HD compendium bugs
  <li> <a href="https://github.com/Rughalt/D35E/issues/32">#32</a> - Bonus PowerPoints doesn't acount for item/custom racial Ability Score modifiers
  <li> <a href="https://github.com/Rughalt/D35E/issues/35">#35</a> - Rogue class calculates sneak attack damage based on char level instead of rogue level
  <li> <a href="https://github.com/Rughalt/D35E/issues/36">#36</a> - Turn Undead Uses doesn't calculate correctly
</ul>
<h2>v0.82.5</h2>
<h3>Fixes</h3>
<ul>
    <li> Containers should no longer break performance</li>
    <li> <a href="https://github.com/Rughalt/D35E/issues/29">#29</a> - Unable to remove character from party after sheet has been deleted.</li>
    <li> <a href="https://github.com/Rughalt/D35E/issues/30">#30</a> - Monk Class doesn't add Wisdom Mod to AC</li>
</ul>
<h2>v0.82</h2>
<h3>SRD</h3>
<ul>
    <li> Fixes for Base Classes implementation (Paladin, Barbarian, NPC classes)
    <li> Added Soulknife special abilities
    <li> Converted Backpacks etc. to Containers
    <li> Added Magic Items from SRD - currently description and typing, no special properties
</ul>
<h3>New features</h3>
<ul>
    <li> Container item type and ability to assign items to containers (with support for Bags of Holding)
    <li> Toggleable custom skin for Foundry VTT
    <li> Application of Attack damage/Special buffs for targeted tokens
    <li> Ported spell- and power-based consumable creation from PF1
</ul>
<h3>Fixes</h3>
<ul>
    <li> <a href="https://github.com/Rughalt/D35E/issues/19">#19</a> - Armor doesn't have option for Masterwork bug
    <li> <a href="https://github.com/Rughalt/D35E/issues/21">#21</a> - sizeRoll() given static value instead variable when creating an attack
    <li> <a href="https://github.com/Rughalt/D35E/issues/13">#13</a> - Missing input for Ammo Bonus Damage formula
    <li> <a href="https://github.com/Rughalt/D35E/issues/23">#23</a> - Applying a race from the compendium places a large color box on the NPC sheet in place of name or avatar
    <li> <a href="https://github.com/Rughalt/D35E/issues/20">#20</a> - Attacks created from weapons are created as Ranged Weapon Attacks.
    <li> <a href="https://github.com/Rughalt/D35E/issues/22">#22</a> - sizeRoll() increases the d4 and d6 by 2 steps instead of 1
    <li> <a href="https://github.com/Rughalt/D35E/issues/16">#16</a> - Missing Grapple box on Player character sheet
    <li> <a href="https://github.com/Rughalt/D35E/issues/17">#17</a> - Changes tab still references CMB/CMD no way to add to Grapple
    <li> <a href="https://github.com/Rughalt/D35E/issues/14">#14</a> - Grapple size modifier uses PF vales not 3.5
    <li> <a href="https://github.com/Rughalt/D35E/issues/8">#8</a> - Class Compendium bugs
    <li> <a href="https://github.com/Rughalt/D35E/issues/25">#25</a> - Damage bonus applied twice if more than one type of damage is present
    <li> <a href="https://github.com/Rughalt/D35E/issues/24">#24</a> - Skill roll-up on character sheet doesn't show specialized skills
</ul>
<h2>v0.81</h2>
<h3>SRD</h3>
<ul>
    <li> Finished Base Classes (without Wilder and Soulknife special abilities)</li>
    <li> Finished Races (without new icons)</li>
    <li> Finished Racial HD</li>
    <li> Added images for existing base items</li>
</ul>
<h3>New features</h3>
<ul>
    <li> Level adjustment for races</li>
    <li> Buff time tracking</li>
    <li> Use multiple items/features/classes charges at once</li>
    <li> Ability to use ammunition with ranged weapon attacks</li>
    <li> Ability to assign bonus damage to ammunition</li>
    <li> Added party HUD</li>
    <li> Added this screen</li>
</ul>
<h3>Fixes</h3>
<ul>
    <li> <a href="https://github.com/Rughalt/D35E/issues/2">#2</a> - Limited character sheet scrollbars</li>
    <li> <a href="https://github.com/Rughalt/D35E/issues/3">#3</a> - Saving throws rolled multiple times</li>
</ul>