<form class="{{cssClass}}" autocomplete="off">
  <div class="form-group stacked">
    <label class="checkbox">
      <input type="checkbox" name="restoreHealth" checked/> {{localize "D35E.RestoreHealth"}}
    </label>

    <label class="checkbox">
      <input type="checkbox" name="restoreDailyUses" checked/> {{localize "D35E.RestoreDailyUses"}}
    </label>

    <label class="checkbox">
      <input type="checkbox" name="longTermCare"/> {{localize "D35E.LongTermCare"}}
    </label>
  </div>

  <button type="submit" name="submit">
    {{localize "D35E.Rest"}}
  </button>
</form>
