<form>
  {{#if hasAttack}}
  <div class="form-group">
    <label>{{localize "D35E.AttackRollBonus"}}</label>
    <input type="text" name="attack-bonus" value="" placeholder="e.g. +1d4"/>
  </div>
  {{/if}}
  {{#if hasDamage}}
  <div class="form-group">
    <label>{{localize "D35E.DamageBonus"}}</label>
    <input type="text" name="damage-bonus" value="" placeholder="e.g. +1d4"/>
  </div>
  {{/if}}

  {{!-- Flags --}}
  <div class="form-group stacked">
    <label>{{localize "D35E.Misc"}}</label>
    {{#if hasAttack}}{{#if hasDamage}}
    <label class="checkbox">
      <input type="checkbox" name="power-attack"/> {{localize "D35E.PowerAttack"}}
    </label>
    {{#if isNaturalAttack}}
    <label class="checkbox">
      <input type="checkbox" {{checked item.primaryAttack}} name="primary-attack"/> {{localize "D35E.PrimaryAttack"}}
    </label>
    {{/if}}
    {{/if}}{{/if}}
  </div>
  {{#if hasDamage}}{{#if hasDamageAbility}}
  <div class="form-group select">
    <label>{{localize "D35E.DamageAbility"}}</label>
    <select name="damage-ability-multiplier">
      {{#select data.item.ability.damageMult}}
      <option value="0.5">x0.5</option>
      <option value="1">x1</option>
      <option value="1.5">x1.5</option>
      <option value="2">x2</option>
      {{/select}}
    </select>
  </div>
  {{/if}}{{/if}}

  {{#if isRangedWeapon}}
  <div class="form-group select">
    <label>{{localize "D35E.LootTypeAmmo"}}</label>
    <select name="ammunition-id" onchange="enableDisableFullAttack(this)">
      {{#select ammo}}
      <option value="none"data-ammo-count="9999" data-dmg-formula="">None</option>
      {{#each ammunition as |item iid|}}
      <option value="{{item._id}}" data-ammo-count="{{item.data.data.quantity}}" data-dmg-formula="{{item.data.data.bonusAmmoDamage}}">{{item.name}} ({{item.data.data.quantity}})</option>
      {{/each}}
      {{/select}}
    </select>

    <input type="hidden" name="ammo-dmg-formula"/>
    <script>
      function enableDisableFullAttack(select) {
        var option = $('option:selected', select).attr('data-ammo-count');
        var damage = $('option:selected', select).attr('data-dmg-formula');
        $('option:selected', select).closest("section").find("input[name='ammo-dmg-formula']").val(damage)
        $('option:selected', select).closest("section").find("button[data-button='multi']").prop( "disabled", {{extraAttacksCount}} > parseInt(option));
      }
    </script>
  </div>
  {{/if}}

  <div class="form-group stacked">
    {{#if hasTemplate}}
    <label class="checkbox">
      <input type="checkbox" name="measure-template" checked/> {{localize "D35E.MeasureTemplate"}}
    </label>
    {{/if}}
  </div>

  <div class="form-group">
    {{#if allowMultipleUses}}
    <label class="slider">Multiple Uses
    </label>
    <input type="range" name="use" min="1" max="{{data.item.uses.value}}" value="1" class="slider" style="flex: 1" onchange="this.nextElementSibling.value=this.value">
    <input type="text" name="useAmount" value="1" disabled style="flex: 0 30; margin-left: 8px"/>
    {{/if}}
  </div>


  <div class="form-group">
    <label>{{localize "D35E.RollMode"}}</label>
    <select name="rollMode">
      {{#select rollMode}}
      {{#each rollModes as |label mode|}}
      <option value="{{mode}}">{{localize label}}</option>
      {{/each}}
      {{/select}}
    </select>
  </div>
</form>
