<div class="compendium-browser flexrow" data-type="{{type}}">
  <header class="header">
    <div class="search">
      <i class="fas fa-search"></i>
      <input type="text" name="search" class="search-box" value="{{searchString}}" placeholder="Search" autocomplete="off" />
    </div>

    <div class="filter-container">
      {{#each filters as |filter|}}
      <div class="filter" data-path="{{filter.path}}">
        <h3 class="rollable">{{filter.label}}</h3>
        <div class="filter-content clexcol">
          {{#each filter.items as |i|}}
          <div class="flexrow" style="padding: 0 4px">
            <label class="checkbox" style="position: relative; flex: 0 20px">
              <input type="checkbox" class="stylized" name="{{i.key}}"/>
              <span class="checkmark"></span>
            </label>
            <label style="line-height: 22px; margin-left: 4px">{{i.key}}</label>
          </div>
          {{/each}}
        </div>
      </div>
      {{/each}}
    </div>
    <div class="flexcol">
      <button class="refresh">{{localize "D35E.Refresh"}}</button>
    </div>
  </header>

  <div class="directory-container">
    <ol class="directory-list">
      {{#each collection as |c|}}
      <li class="directory-item flexrow" data-collection="{{c.collection}}" data-entry-id="{{c.item._id}}">
        <img class="profile" src="{{c.item.img}}" title="{{c.item.name}}"/>
        <div class="flexcol">
          <h4 class="entry-name"><a>{{c.item.name}}</a></h4>
          {{#if c.item.isSpell}}
          <span style="margin-left: 4px;">
            {{localize "D35E.SpellLevel"}}: {{c.item.data.level}}
          </span>
          {{/if}}
        </div>
      </li>
      {{/each}}
    </ol>
  </div>
</div>