{{#each monsters}}
<a class="entity-link" draggable="true" data-pack="D35E.bestiary" data-id="{{id}}">
          <div class="flex-container" draggable="true">
            <div class="image">
                <img src="{{img}}" width="48" height="48">
                x{{count}}
            </div>
            <div class="column">
                <div class="head">
                    <span>{{name}}</span>
                </div>
                    <div class="row">
                    <div class="body">
                        <span>Health:{{HP}}</span>
                    </div>
                    <div class="body">
                        <span>AC:{{AC}}</span>
                    </div>
                    <div class="body">
                        <span>Land Speed:{{SPD}}</span>
                    </div>
                </div>
            </div>
                <div class="cr">
                    CR:{{cr}}
                </div>
        </div>
    </a>
{{/each}}