<form autocomplete="off" onsubmit="event.preventDefault();">

    <p>You have advanced to a new level!</p>
    <h2>Class</h2>
   <div class="flexcol">
        <div class="form-group spellcasting-class tooltip flexrow">
            <label><span>{{localize "D35E.Class"}}</span></label>
            <select name="class" data-dtype="String">
                {{#select levelup.class}}
                {{#each actor.data.classes as |cls a|}}
                <option value="{{cls._id}}">{{cls.name}}</option>
                {{/each}}
                <option value="">New Class</option>
                {{/select}}
            </select>
        </div>
  </div>
    <p>If you want to add new class, select New Class in select above, and drag and drop a class to your character afterwards.</p>

    <h2>Level up changes</h2>
    {{#if hasNewAbility}}
    <h3>Abilities</h3>
    <p>You have reached a level that allows you to increase one of your abilities.</p>
    <div class="form-group spellcasting-ability flexrow">
        <label><span>{{localize "D35E.Ability"}}</span></label>
        <select name="ability" data-dtype="String">
            {{#select levelup.ability}}
            {{#each config.abilities as |abl a|}}
            <option value="{{a}}">{{abl}}</option>
            {{/each}}
            {{/select}}
        </select>
    </div>
    {{/if}}
    {{#if hasNewFeat}}
    <h3>Feat</h3>
    <p>You have reached a level that allows you to have a new Feat. <a onclick="game.packs.get('D35E.feats').render(true)" style="color: #782e22;">Open Feats compendium.</a></p>
    {{/if}}
    <h3>Skills</h3>
    <p>Remember to assign skill points in skills tab.</p>

  <button type="submit" name="submit" value="1"><i class="far fa-save"></i> {{localize "D35E.LevelUp"}}</button>
</form>