<form>
    <div class="form-group stacked">
        <label class="block-header">Consumable Properties</label>
    </div>
    <div class="form-group">
        <div class="flexcol">
        <label>{{feat.data.name}}</label>
            <span style="opacity: 0.8; margin-left: 0.25rem">{{localize "D35E.CasterLevel"}}</span></div>
            <input type="text" name="caster-level" value="" class="auto-save" placeholder="e.g. 20, use lowest if left empty"/>
    </div>
    <hr style="    opacity: 0.2;
    border-bottom: none;">
    <em>{{label}}</em>
</form>
