<form class="{{cssClass}} flexcol" autocomplete="off">

  {{!-- Item Sheet Header --}}
  <header class="sheet-header flexrow">
      <div class="sheet-header-profile">
        <img class="profile" src="{{item.img}}" title="{{item.name}}" data-edit="img"/>
      </div>

    <div class="header-details flexrow">

      <div class="flexcol">
      <h3 class="charname">
        <input name="name" type="text" value="{{item.name}}" placeholder="{{localize "D35E.ItemName"}}"/>
      </h3>
      <h4>
        <div class="form-group">
          <div class="form-fields">
            <input type="text" style="text-align: right; line-height: 24px" name="data.nameExtension.prefix" value="{{data.nameExtension.prefix}}" placeholder="Prefix"/>
            <span>Item of</span>
            <input type="text" style="line-height: 24px" name="data.nameExtension.suffix" value="{{data.nameExtension.suffix}}" placeholder="Suffix"/>
          </div>
        </div>
      </h4>
      </div>
      <div class="item-subtitle">
        <h4 class="item-type">{{localize "D35E.Item"}}</h4>
        <span class="item-status">{{itemStatus}}</span>
      </div>

      <ul class="summary">
        <li>
          {{itemType}}
        </li>
      </ul>

    </div>
  </header>

  <section class="sheet-content flexcol">
  {{!-- Item Sheet Navigation --}}
  <nav class="sheet-navigation tabs" data-group="primary">
    <a class="item active" data-tab="description">{{ localize "D35E.Description" }}</a>
    <a class="item" data-tab="details">{{ localize "D35E.Details" }}</a>
    <a class="item" data-tab="changes">{{ localize "D35E.Changes" }}</a>
  </nav>

  {{!-- Item Sheet Body --}}
  <section class="primary-body">

    {{!-- Description Tab --}}
    {{> "systems/D35E/templates/items/parts/item-description.html"}}

    {{!-- Details Tab --}}
    <div class="tab details" data-group="primary" data-tab="details">

      <div class="form-group">
        <label>{{localize "D35E.EnhancementAllowedTypes"}}</label>
        <div class="data-selector">
          <a class="entry-selector" for="data.allowedTypes" data-fields="{{localize "D35E.EnhancementAllowedTypes"}}" data-dtypes="String"><i class="fas fa-edit"></i></a>
          <label for="data.allowedTypes">{{localize "D35E.Edit"}}</label>
        </div>
      </div>
      <div class="form-group">
        <label>{{localize "D35E.Category"}}</label>
        <select name="data.enhancementType">
          {{#select data.enhancementType}}
          {{#each enhancementTypes.types as |name type|}}
          <option value="{{type}}">{{localize name}}</option>
          {{/each}}
          {{/select}}
        </select>
      </div>

      {{#if isWeaponEnhancement}}
      <h3 class="form-header">Weapon Enhancement Details</h3>
      {{!-- Weapon Damage --}}
      <div class="form-group">
        <label>{{localize "D35E.EnhancementBonus"}}</label>
        <div class="form-fields">
          <input type="text" name="data.enh" value="{{data.enh}}" data-dtype="Number" placeholder="0"/>
        </div>
      </div>
      <div class="form-group">
        <label>{{localize "D35E.BaseWeaponDamage"}}</label>
        <div class="form-fields">
          <input type="text" name="data.weaponData.damageRoll" value="{{data.weaponData.damageRoll}}" placeholder="{{localize "D35E.DamageRoll"}}"/>
          <select name="data.weaponData.damageTypeId">
            {{#select data.weaponData.damageTypeId}}
            <option value="">{{localize "D35E.Custom"}}</option>
            {{#each damageTypes as |damage type|}}
            <option value="{{damage.data.data.uniqueId}}">{{damage.data.name}}</option>
            {{/each}}
            {{/select}}
          </select>
          {{#unless data.weaponData.damageTypeId}}
          <input type="text" name="data.weaponData.damageType" value="{{data.weaponData.damageType}}" placeholder="{{localize "D35E.DamageType"}}"/>
          {{/unless}}
        </div>
      </div>

      <div class="form-group">
        <label>{{localize "D35E.EnhancementOptionalDamage"}}</label>
        <label class="checkbox" style="position: relative; flex: 0 20px">
          <input type="checkbox" class="stylized" name="data.weaponData.optionalDamage" {{checked data.weaponData.optionalDamage}}/>
          <span class="checkmark"></span>
        </label>
      </div>
      <span><em>{{localize "D35E.EnhancementOptionalDamageDesc"}}</em></span>

      <div class="form-group">
        <label>{{localize "D35E.WeaponDamageAlignment"}}</label>
      </div>
      <div class="flexrow">
        <div class="form-group" style="flex: 1">
          <div class="toggle" style="width: 125px">
            <input id="{{randomUuid}}-data.weaponData.alignment.good" type="checkbox" name="data.weaponData.alignment.good" {{checked data.weaponData.alignment.good}}/>
            <label style="width: 125px" for="{{randomUuid}}-data.weaponData.alignment.good">{{#if data.weaponData.alignment.good}}<i class="far fa-check-square"></i>{{else}}<i class="far fa-square"></i>{{/if}}{{localize "D35E.AlignmentGood"}}</label>
          </div>
        </div>
        <div class="form-group" style="flex: 1">
          <div class="toggle" style="width: 125px">
            <input id="{{randomUuid}}-data.weaponData.alignment.evil" type="checkbox" name="data.weaponData.alignment.evil" {{checked data.weaponData.alignment.evil}}/>
            <label style="width: 125px" for="{{randomUuid}}-data.weaponData.alignment.evil">{{#if data.weaponData.alignment.evil}}<i class="far fa-check-square"></i>{{else}}<i class="far fa-square"></i>{{/if}}{{localize "D35E.AlignmentEvil"}}</label>
          </div>
        </div>
        <div class="form-group" style="flex: 1">
          <div class="toggle" style="width: 125px">
            <input id="{{randomUuid}}-data.weaponData.alignment.chaotic" type="checkbox" name="data.weaponData.alignment.chaotic" {{checked data.weaponData.alignment.chaotic}}/>
            <label style="width: 125px" for="{{randomUuid}}-data.weaponData.alignment.chaotic">{{#if data.weaponData.alignment.chaotic}}<i class="far fa-check-square"></i>{{else}}<i class="far fa-square"></i>{{/if}}{{localize "D35E.AlignmentChaotic"}}</label>
          </div>
        </div>
        <div class="form-group" style="flex: 1">
          <div class="toggle">
            <input id="{{randomUuid}}-data.weaponData.alignment.lawful" type="checkbox" name="data.weaponData.alignment.lawful" {{checked data.weaponData.alignment.lawful}}/>
            <label style="width: 125px" for="{{randomUuid}}-data.weaponData.alignment.lawful">{{#if data.weaponData.alignment.lawful}}<i class="far fa-check-square"></i>{{else}}<i class="far fa-square"></i>{{/if}}{{localize "D35E.AlignmentLawful"}}</label>
          </div>
        </div>
      </div>

      {{!-- Weapon Properties --}}
      <div class="form-group stacked weapon-properties">
        <label>{{localize "D35E.WeaponProperties"}}</label>
        {{#each config.weaponEnhancementProperties as |name prop|}}
        <label class="checkbox">
          <input type="checkbox" name="data.properties.{{prop}}" {{checked (lookup ../data.properties prop)}}/> {{ name }}
        </label>
        {{/each}}
      </div>
      <div class="form-group stacked">
        <label class="checkbox">
          <input type="checkbox" name="data.enhIsLevel" {{checked
                 data.enhIsLevel}}/> {{localize "D35E.EnhancementIsLevel"}}
        </label>
      </div>
      {{/if}}
      {{#if isArmorEnhancement}}
      <h3 class="form-header">Armor Enhancement Details</h3>
      {{!-- Weapon Damage --}}
      <div class="form-group">
        <label>{{localize "D35E.EnhancementBonus"}}</label>
        <div class="form-fields">
          <input type="text" name="data.enh" value="{{data.enh}}" data-dtype="Number" placeholder="0"/>
        </div>
      </div>
      <div class="form-group stacked">
        <label class="checkbox">
          <input type="checkbox" name="data.enhIsLevel" {{checked
                 data.enhIsLevel}}/> {{localize "D35E.EnhancementIsLevel"}}
        </label>
      </div>
      {{/if}}
      {{#if isMiscEnhancement}}
      <h3 class="form-header">Misc Enhancement Details</h3>
      {{!-- Weapon Damage --}}
      <div class="form-group">
        <label>{{localize "D35E.EnhancementBonus"}}</label>
        <div class="form-fields">
          <input type="text" name="data.enh" value="{{data.enh}}" data-dtype="Number" placeholder="0"/>
        </div>
      </div>
      {{/if}}

      <h3 class="form-header">{{localize "D35E.EnhancementChanges"}}</h3>
      {{!-- Crafting requirements --}}
      <div class="form-group">
        <label>{{localize "D35E.CraftingRequirements"}}</label>
        <div class="form-fields">
          <input type="text" name="data.requirements" value="{{data.requirements}}" data-dtype="String" placeholder="eg. CL10; Craft Magic Weapons, Fireball"/>
        </div>
      </div>
      <div class="form-group">
        <label>{{localize "D35E.EnhancementIncreaseFormula"}}</label>
        <div class="form-fields">
          <input type="text" name="data.enhIncreaseFormula" value="{{data.enhIncreaseFormula}}" data-dtype="String" placeholder="@enhancement"/>
        </div>
      </div>
      <div class="form-group">
        <label>{{localize "D35E.EnhancementIncrease"}}</label>
        <div class="form-fields">
          <input type="text"  disabled value="{{data.enhIncrease}}" data-dtype="Number" placeholder="0"/>
        </div>
      </div>
      <div class="form-group">
        <label>{{localize "D35E.PriceFormula"}}</label>
        <div class="form-fields">
          <input type="text" name="data.priceFormula" value="{{data.priceFormula}}" data-dtype="String" placeholder="1000*@enhIncrease"/>
        </div>
      </div>
      <div class="form-group">
        <label>{{localize "D35E.Price"}}</label>
        <div class="form-fields">
          <input type="text" disabled value="{{data.price}}" data-dtype="Number" placeholder="0"/>
        </div>
      </div>

      <h3 class="form-header">{{localize "D35E.EquipmentUsage"}}</h3>
      {{!-- Item Activation Template --}}
      {{> "systems/D35E/templates/items/parts/item-activation.html"}}

      <h3 class="form-header">{{localize "D35E.Action"}}</h3>

      {{!-- Item Action Template --}}
      {{> "systems/D35E/templates/items/parts/item-action.html"}}

      <h3 class="form-header">{{localize "D35E.MeasureTemplate"}}</h3>

      {{!-- Item Measure Template --}}
      {{> "systems/D35E/templates/items/parts/item-template.html"}}
    </div>

    {{!-- Changes Tab --}}
    {{#unless showUnidentifiedData}}
    <div class="tab flexcol" data-group="primary" data-tab="changes">
      <div>
        {{!-- Changes --}}
        <h4 class="change-header">
          {{localize "D35E.Changes"}}
          <a class="change-control add-change"><i class="fas fa-plus"></i></a>
        </h4>
        <ol class="changes form-group">
          {{#each data.changes as |change a|}}
          <li class="change flexrow" data-change="{{a}}">
            <input type="text" name="data.changes.{{a}}.0" value="{{lookup this "0"}}"
            placeholder="{{localize "D35E.Formula"}}" />
            <select name="data.changes.{{a}}.1">
              {{#select (lookup this "1") }}
              <option value="">{{localize "D35E.None"}}</option>
              {{#each ../changes.targets as |target type|}}
              <option value="{{type}}">{{target}}</option>
              {{/each}}
              {{/select}}
            </select>
            <select name="data.changes.{{a}}.2">
              {{#select (lookup this "2") }}
              {{#each subTargets as |target type|}}
              <option value="{{type}}">{{target}}</option>
              {{/each}}
              {{/select}}
            </select>
            <select name="data.changes.{{a}}.3">
              {{#select (lookup this "3") }}
              {{#each ../changes.modifiers as |name type|}}
              <option value="{{type}}">{{name}}</option>
              {{/each}}
              {{/select}}
            </select>
            <a class="change-control delete-change"><i class="fas fa-minus"></i></a>
          </li>
          {{/each}}
        </ol>
      </div>

      {{> "systems/D35E/templates/items/parts/item-notes.html"}}
    </div>
    {{/unless}}
  </section>


  {{#unless showUnidentifiedData}}
  {{#if owner}}
  <div class="form-group">
    <button type="button" name="create-attack">{{localize "D35E.CreateAttack"}}</button>
  </div>
  {{/if}}
  {{/unless}}
  </section>
</form>
