<form class="{{cssClass}} flexcol" autocomplete="off">

  {{!-- Item Sheet Header --}}
  <div class="flexrow" style="flex: 0">
    <div class="sheet-header-profile">
      <img class="profile" src="{{item.img}}" title="{{item.name}}" data-edit="img"/>
    </div>

    <header class="sheet-header flexrow">
    <div class="header-details flexrow">
      {{#if isGM}}
      <h3 class="charname">
        <input name="name" type="text" value="{{item.name}}" placeholder="{{localize "D35E.ItemName"}}"/>
      </h3>

      <h3 class="charname">
        <input name="data.unidentified.name" type="text" value="{{data.data.unidentified.name}}" placeholder="{{localize "D35E.UnidentifiedName"}}"/>
      </h3>
      {{else}}
      {{#if showUnidentifiedData}}
      <h1 class="charname">
        <input name="data.unidentified.name" type="text" value="{{itemName}}" placeholder="{{localize "D35E.ItemName"}}"/>
      </h1>
      {{else}}
      <h1 class="charname">
        <input name="name" type="text" value="{{itemName}}" placeholder="{{localize "D35E.ItemName"}}"/>
      </h1>
      {{/if}}
      {{/if}}

      <div class="item-subtitle">
        <h4 class="item-type">{{localize "D35E.Item"}}</h4>
        <span class="item-status">{{itemStatus}}</span>
      </div>

      <ul class="summary">
        <li>
          {{itemType}}
        </li>
        <li>
          {{#unless showUnidentifiedData}}{{lookup config.lootTypes data.subType}}{{/unless}}
        </li>
      </ul>
    </div>
  </header>
  </div>

  <section class="sheet-content flexcol">
  {{!-- Item Sheet Navigation --}}
  <nav class="sheet-navigation tabs" data-group="primary">
    <a class="item active" data-tab="description">{{ localize "D35E.Description" }}</a>
    <a class="item" data-tab="details">{{ localize "D35E.Details" }}</a>
  </nav>

  {{!-- Item Sheet Body --}}
  <section class="primary-body">
    {{> "systems/D35E/templates/items/parts/item-description.html"}}

    <div class="tab details" data-group="primary" data-tab="details">
      <h3 class="form-header">{{localize "D35E.Details"}}</h3>

      {{!-- Loot Type --}}
      <div class="form-group">
        <label>Item Type</label>
        <select name="data.subType">
          {{#select data.data.subType}}
          {{#each config.lootTypes as |name type|}}
          <option value="{{type}}">{{name}}</option>
          {{/each}}
          {{/select}}
        </select>
      </div>

      {{#if isContainer}}
      <div class="form-group">
        <label>{{localize "D35E.BagOfHoldingLike"}}</label>
        <label class="checkbox">
          <input type="checkbox" name="data.bagOfHoldingLike" {{checked data.data.bagOfHoldingLike}}/>
        </label>
      </div>

      <div class="form-group">
        <label>{{localize "D35E.WeightCapacity"}}</label>
        <input type="text" name="data.convertedCapacity" value="{{convertedCapacity}}" data-dtype="Number"/>
        {{#if usesImperialSystem}}
        <label class="unit" style="flex: 0">{{ localize 'D35E.Lbs' }}</label>
        {{else}}
        <label class="unit" style="flex: 0">{{ localize 'D35E.Kgs' }}</label>
        {{/if}}
      </div>
      {{/if}}

      {{#if isAmmo}}
      <div class="form-group ammo-formula">
        <label>{{localize "D35E.BonusAmmoDamage"}}</label>
        <input type="text" name="data.bonusAmmoDamage" value="{{data.data.bonusAmmoDamage}}" placeholder="{{localize "D35E.BonusAmmoDamageFormula"}}"/>
      </div>
      <div class="form-group ammo-formula">
        <label>{{localize "D35E.BonusAmmoDamageType"}}</label>
        <input type="text" name="data.bonusAmmoDamageType" value="{{data.data.bonusAmmoDamageType}}" placeholder="{{localize "D35E.BonusAmmoDamageTypePlaceholder"}}"/>
      </div>
      <div class="form-group ammo-formula">
        <label>{{localize "D35E.BonusAmmoAttack"}}</label>
        <input type="text" name="data.bonusAmmoAttack" value="{{data.data.bonusAmmoAttack}}" placeholder="{{localize "D35E.BonusAmmoAttackPlaceholder"}}"/>
      </div>

      <div class="form-group stacked">
        <label>{{localize "D35E.AttackNotes"}}</label>
        <textarea type="text" name="data.bonusAmmoAttackNote">{{data.databonusAmmoAttackNote}}</textarea>
      </div>

      <div class="form-group">

        <label>{{localize "D35E.ShowInQuickbar"}}</label>
        <label class="checkbox" style="position: relative; flex: 0 20px">
          <input type="checkbox" class="stylized" name="data.showInQuickbar" {{checked data.data.showInQuickbar}}/>
          <span class="checkmark"></span>
        </label>
      </div>
      {{/if}}

      {{#if isGM}}
      <label class="checkbox">
        <input type="checkbox" name="data.identified" {{checked data.data.identified}}/> {{localize "D35E.Identified"}}
      </label>
      {{/if}}

      <div>
        {{!-- Creation Changes --}}
        <h3 class="form-header">
          {{localize "D35E.CreationChanges"}}
          <a class="creation-changes-control add-change" style="font-size: 15px; line-height: 15px;"><i class="fas fa-plus"></i></a>
        </h3>
        <ol class="changes form-group">
          {{#each data.data.creationChanges as |change a|}}
          <li class="change flexrow" data-change="{{a}}">
      
            <select name="data.creationChanges.{{a}}.0">
              {{#select (lookup this "0") }}
              <option value="">{{localize "D35E.None"}}</option>
              {{#each ../fieldList as |field|}}
              <option value="{{field}}">{{field}}</option>
              {{/each}}
              {{/select}}
            </select>
            <input type="text" name="data.creationChanges.{{a}}.1" value="{{lookup this "1"}}"
            placeholder="{{localize "D35E.Formula"}}" />
            <a class="creation-changes-control delete-change"><i class="fas fa-minus"></i></a>
          </li>
          {{/each}}
          {{#unless data.data.creationChanges}}
          <li class="change flexrow">
            <div style="width: 100%; opacity: 0.7; text-align: center">{{localize "D35E.ThereAreNo"}} {{localize "D35E.CreationChanges"}}. {{{localize "D35E.UsePlusToAdd"}}}</div>
          </li>
          {{/unless}}
        </ol>
      </div>
      
    </div>
  </section>
  </section>
</form>
