<form class="{{cssClass}} flexcol" autocomplete="off">

  {{!-- Item Sheet Header --}}
  <header class="sheet-header flexrow">
      <div class="sheet-header-profile">
        <img class="profile" src="{{item.img}}" title="{{item.name}}" data-edit="img"/>
      </div>

    <div class="header-details flexrow">
      <div class="flexcol">
      {{#if isGM}}
      <h3 class="charname">
        <input name="name" type="text" value="{{item.name}}" placeholder="{{localize "D35E.ItemName"}}"/>
      </h3>

      <h3 class="charname">
        <input name="data.unidentified.name" type="text" value="{{data.unidentified.name}}" placeholder="{{localize "D35E.UnidentifiedName"}}"/>
      </h3>
      {{else}}
      {{#if showUnidentifiedData}}
      <h1 class="charname">
        <input name="data.unidentified.name" type="text" value="{{itemName}}" placeholder="{{localize "D35E.ItemName"}}"/>
      </h1>
      {{else}}
      <h1 class="charname">
        <input name="name" type="text" value="{{itemName}}" placeholder="{{localize "D35E.ItemName"}}"/>
      </h1>
      {{/if}}
      {{/if}}
      </div>

      <div class="item-subtitle">
        <h4 class="item-type">{{localize "D35E.Item"}}</h4>
        <span class="item-status">{{itemStatus}}</span>
      </div>

      <ul class="summary">
        <li>
          {{itemType}}
        </li>
        <li>
          {{labels.weaponType}}
        </li>
        <li>
          {{labels.weaponSubtype}}
        </li>
      </ul>

    </div>
  </header>

  <section class="sheet-content flexcol sheet-weapon">
  {{!-- Item Sheet Navigation --}}
  <nav class="sheet-navigation tabs" data-group="primary">
    <a class="item active" data-tab="description">{{ localize "D35E.Description" }}</a>
    <a class="item" data-tab="details">{{ localize "D35E.Details" }}</a>
    {{#unless showUnidentifiedData}}
    <a class="item" data-tab="changes">{{ localize "D35E.Changes" }}</a>
    <a class="item" data-tab="enhancements">{{ localize "D35E.Enhancements" }}</a>
    {{/unless}}
  </nav>

  {{!-- Item Sheet Body --}}
  <section class="primary-body">

    {{!-- Description Tab --}}
    {{> "systems/D35E/templates/items/parts/item-description.html"}}

    {{!-- Details Tab --}}
    <div class="tab details" data-group="primary" data-tab="details">
      <h3 class="form-header">Weapon Details</h3>

      {{!-- Weapon Type --}}
      <div class="form-group">
        <label>{{localize "D35E.Category"}}</label>
        <select name="data.weaponType">
          {{#select data.weaponType}}
          {{#each weaponCategories.types as |name type|}}
          <option value="{{type}}">{{name}}</option>
          {{/each}}
          {{/select}}
        </select>
      </div>

      {{!-- Weapon Subtype --}}
      <div class="form-group">
        <label>{{localize "D35E.Type"}}</label>
        <select name="data.weaponSubtype">
          {{#select data.weaponSubtype}}
          {{#each weaponCategories.subTypes as |name type|}}
          <option value="{{type}}">{{name}}</option>
          {{/each}}
          {{/select}}
        </select>
      </div>

      {{!-- Weapon Size --}}
      <div class="form-group">
        <label>{{localize "D35E.WeaponSize"}}</label>
        <select name="data.weaponData.size">
          {{#select data.weaponData.size}}
          {{#each config.actorSizes as |name type|}}
          <option value="{{type}}">{{name}}</option>
          {{/each}}
          {{/select}}
        </select>
      </div>

      {{!-- Equipment Status --}}
      <div class="form-group stacked">
        <label>{{localize "D35E.EquipmentStatus"}}</label>
        <label class="checkbox">
          <input type="checkbox" name="data.equipped" {{checked data.equipped}}/> {{localize "D35E.Equipped"}}
        </label>
        {{#if isGM}}
        <label class="checkbox">
          <input type="checkbox" name="data.identified" {{checked data.identified}}/> {{localize "D35E.Identified"}}
        </label>
        {{/if}}
        <label class="checkbox">
          <input type="checkbox" name="data.masterwork" {{checked data.masterwork}}/> {{localize "D35E.Masterwork"}}
        </label>
      </div>

      {{#unless showUnidentifiedData}}
      {{!-- Weapon Properties --}}
      <div class="form-group stacked weapon-properties">
        <label>{{localize "D35E.WeaponProperties"}}</label>
        {{#each config.weaponProperties as |name prop|}}
        <label class="checkbox">
          <input type="checkbox" name="data.properties.{{prop}}" {{checked (lookup ../data.properties prop)}}/> {{ name }}
        </label>
        {{/each}}
      </div>

      {{#if isRanged}}
      <div class="form-group">
        <label>{{localize "D35E.Range"}}</label>
        <div class="form-fields">
          <input type="text" name="data.weaponData.range" value="{{data.weaponData.range}}" data-dtype="Number"/>
        </div>
      </div>
      {{/if}}

      <div class="form-group">
        <label>{{localize "D35E.EnhancementBonus"}}</label>
        <div class="form-fields">
          <input type="text" name="data.enh" value="{{data.enh}}" data-dtype="Number" placeholder="0"/>
        </div>
      </div>

      {{!-- Weapon Bonus Attack Formula --}}
      <div class="form-group">
        <label>{{localize "D35E.BonusAttackFormula"}}</label>
        <div class="form-fields">
          <input type="text" name="data.weaponData.attackFormula" value="{{data.weaponData.attackFormula}}" placeholder="{{localize "D35E.BonusAttackFormula"}}"/>
        </div>
      </div>

      {{!-- Weapon Damage --}}
      <div class="form-group">
        <label>{{localize "D35E.BaseWeaponDamage"}} ({{localize "D35E.ActorSizeMedium"}})</label>
        <div class="form-fields">
          <input type="text" name="data.weaponData.damageRoll" value="{{data.weaponData.damageRoll}}" placeholder="{{localize "D35E.DamageRoll"}}"/>
          <input type="text" name="data.weaponData.damageType" value="{{data.weaponData.damageType}}" placeholder="{{localize "D35E.DamageType"}}"/>
        </div>
      </div>

      {{!-- Weapon Bonus Damage Formula --}}
      <div class="form-group">
        <label>{{localize "D35E.BonusDamageFormula"}}</label>
        <div class="form-fields">
          <input type="text" name="data.weaponData.damageFormula" value="{{data.weaponData.damageFormula}}" placeholder="{{localize "D35E.BonusDamageFormula"}}"/>
        </div>
      </div>

      {{!-- Weapon Critical Damage --}}
      <div class="form-group">
        <label>{{localize "D35E.BaseWeaponCritical"}}</label>
        <div class="form-fields">
          <input type="text" name="data.weaponData.critRange" value="{{data.weaponData.critRange}}" placeholder="20"/>
          <input type="text" name="data.weaponData.critMult" value="{{data.weaponData.critMult}}" placeholder="2"/>
        </div>
      </div>

      <div class="form-group stacked">
        <label>{{localize "D35E.AttackNotes"}}</label>
        <textarea type="text" name="data.attackNotes">{{data.attackNotes}}</textarea>
      </div>

      <h3 class="form-header">{{localize "D35E.LightItemLight"}}</h3>
      {{> "systems/D35E/templates/items/parts/item-light.html"}}
      {{/unless}}
    </div>

    {{!-- Changes Tab --}}
    {{#unless showUnidentifiedData}}
    <div class="tab flexcol" data-group="primary" data-tab="changes">
      {{> "systems/D35E/templates/items/parts/item-changes.html"}}

      {{> "systems/D35E/templates/items/parts/item-notes.html"}}
    </div>
    <div class="tab flexcol" data-group="primary" data-tab="enhancements">
      {{> "systems/D35E/templates/items/parts/item-enhancement.html"}}
    </div>
    {{/unless}}
  </section>
  </section>

  {{#unless showUnidentifiedData}}
  {{#if owner}}
  <div class="form-group">
    <button type="button" name="create-attack">{{localize "D35E.CreateAttack"}}</button>
  </div>
  {{/if}}
  {{/unless}}
</form>
