{{!-- Buffs --}}

{{!-- Buff Navigation --}}
<nav class="sheet-navigation tabs subtabs buffs" data-group="buffs">
    <a class="item" data-tab="buffs">{{ localize 'D35E.Buffs' }}</a>
    <a class="item" data-tab="shapechange">{{ localize 'D35E.Shapechange' }}</a>
</nav>

<section class="buffs-body">

    <div class="tab flexrow" data-group="buffs" data-tab="shapechange">
        <div class="flexcol" style="height: 100%">
            <div class="flexrow shapechange-info">
                {{#unless isShapechanged}}
                <img class="shapechange-img" src="{{actor.data.tokenImg}}">
                <div class="flexcol">
                    <h2>{{ localize 'D35E.ShapechangeDefault' }}</h2>
                </div>
                {{/unless}}
                {{#if isShapechanged}}
                <img class="shapechange-img" src="{{actor.data.shapechangeImg}}">
                <div class="flexcol">
                    <h2>{{shapechangeName}}</h2>
                </div>
                {{/if}}
            </div>
            <div class="tab inventory-group flexcol" data-group="buffs" data-tab="shapechange">
                <ol class="inventory-list sub-scroll scroll-buffs">
                    <li class="inventory-header flexrow">
                        <h3 class="item-name flexrow"></h3>


                        <div class="item-detail item-timeline">
                            <span>{{ localize 'D35E.TimelineTimed' }}</span>
                        </div>

                        <div class="item-detail item-level">
                            <span>{{ localize 'D35E.Level' }}</span>
                        </div>

                        <div class="item-detail item-active">
                            <span>{{ localize 'D35E.Active' }}</span>
                        </div>

                        {{#if owner}}
                        <div class="item-detail item-controls">
                            <span>{{ localize 'D35E.ActionPlural' }}</span>
                        </div>
                        {{/if}}
                    </li>

                    <ol class="item-list">
                        {{#each shapechanges as |item iid|}}
                        <li class="item flexrow" data-item-id="{{item._id}}">
                            <div class="item-name flexrow rollable">
                                <div class="item-image" style="background-image: url('{{item.img}}')"></div>
                                <h4>{{item.name}} <em style="color: #666;">{{item.data.shapechange.type}}</em></h4>

                            </div>
                            <div class="item-detail item-timeline">
                                {{#if item.data.timeline.enabled }}
                                <span>{{item.timelineLeftText}}</span>
                                {{/if}}
                            </div>
                            <div class="item-detail item-level">
                                <input type="text" value="{{#if item.data.level}}{{item.data.level}}{{/if}}"
                                       data-dtype="Number"/>
                            </div>

                            <div class="item-detail item-active">
                                {{#if item.canToggleShapechange}}
                                <label>
                                <input type="checkbox" class="stylized buff-toggle" {{checked item.data.active}}/>
                                <span class="checkmark"></span>
                                </label>
                                {{/if}}
                            </div>

                            {{#if ../owner}}
                            <div class="item-controls">
                                {{#unless item.data.active}}
                                <a class="item-control item-edit" title="{{ localize 'D35E.EditItem' }}"><i class="fas fa-edit"></i></a>
                                <a class="item-control item-delete" title="{{ localize 'D35E.DeleteItem' }}"><i class="fas fa-trash"></i></a>
                                {{/unless}}
                            </div>
                            {{/if}}
                        </li>
                        {{/each}}
                    </ol>
                </ol>
            </div>
        </div>
    </div>

    <div class="tab inventory-group flexcol" data-group="buffs" data-tab="buffs">

        <div class="flexrow" style="flex: 0"><h2 class="block-header" style="flex: 1">{{ localize 'D35E.ConditionsAndBuffs' }}</h2></div>
        <div class="flexrow" style="flex: 0">
            {{#each data.attributes.conditions as |value con|}}
            <div class="condition">
                <label class="checkbox">
                    <input type="checkbox" name="data.attributes.conditions.{{con}}" {{checked value}}/>
                    <span>{{lookup ../config.conditions con}}</span>
                </label>
            </div>
            {{/each}}
        </div>
        <ol class="inventory-list sub-scroll scroll-buffs">
        {{#each sections as |section sid|}}
            <li class="inventory-header flexrow">
                <h3 class="item-name flexrow">{{section.label}}</h3>


                {{#unless section.isAuras}}
                <div class="item-detail item-timeline">
                    <span>{{ localize 'D35E.TimelineTimed' }}</span>
                </div>
                {{/unless}}

                {{#if section.isAuras}}
                <div class="item-detail item-active">
                    <span>{{ localize 'D35E.Range' }}</span>
                </div>
                <div class="item-detail item-active">
                    <span>{{ localize 'D35E.Target' }}</span>
                </div>
                {{/if}}
                <div class="item-detail item-level">
                    <span>{{ localize 'D35E.Level' }}</span>
                </div>

                {{#unless section.isAuras}}
                <div class="item-detail item-active">
                    <span>{{ localize 'D35E.Active' }}</span>
                </div>
                {{/unless}}

                {{#if ../owner}}
                <div class="item-controls">

                    {{#if section.hasPack}}
                    <a  class="open-compendium-pack" data-pack="{{section.pack}}" title="{{ localize 'D35E.CreateItem' }}" {{#each section.dataset as |v k|}}data-{{k}}="{{v}}"{{/each}}>
                    <i class="fas fa-atlas"></i> {{ localize 'D35E.Add' }}
                    </a>
                    {{/if}}
                    <a style="flex: 0; margin-left: 4px;" class="item-control item-create" title="{{ localize 'D35E.CreateItem' }}" {{#each section.dataset
                    as |v k|}}data-{{k}}="{{v}}"{{/each}}>
                    <i class="fas fa-plus"></i> {{ localize 'D35E.New' }}
                    </a>
                </div>
                {{/if}}
            </li>

            <ol class="item-list">
                {{#each section.items as |item iid|}}
                <li class="item flexrow" data-item-id="{{item._id}}">
                    <div class="item-name flexrow rollable">
                        <div class="item-image" style="background-image: url('{{item.img}}')"></div>
                        <h4>{{item.name}}
                            {{#if item.data.sourceActorName}}<em style="color: black; opacity: 0.7" class="non-rollable">applied by {{item.data.sourceActorName}}</em>
                        {{/if}}

                            {{#if item.data.linkImported}}
                            <i class="fas fa-link non-rollable" style="color: black; opacity: 0.7">
                            </i>
                            <em style="color: black; opacity: 0.7" class="non-rollable">{{item.data.linkSourceName}}</em>
                            {{/if}}
                        </h4>
                    </div>
                    {{#unless section.isAuras}}
                    <div class="item-detail item-timeline">
                        {{#if item.data.timeline.enabled }}
                        <span>{{item.timelineLeftText}}</span>
                        {{/if}}
                    </div>
                    {{/unless}}
                    {{#if section.isAuras}}

                    <div class="item-detail item-active">
                        <span>{{item.data.range}} ft.</span>
                    </div>
                    <div class="item-detail item-active">
                        <span>{{item.data.auraTarget}}</span>
                    </div>
                    {{/if}}
                    <div class="item-detail item-level">
                        <input type="text" value="{{#if item.data.level}}{{item.data.level}}{{/if}}"
                               data-dtype="Number"/>
                    </div>

                    <div class="item-detail item-active">
                        <label>
                        <input type="checkbox" class="stylized buff-toggle" {{checked item.data.active}}/>
                        <span class="checkmark"></span>
                        </label>
                    </div>

                    {{#if ../../owner}}
                    <div class="item-controls">
                        <a class="item-control item-edit" title="{{ localize 'D35E.EditItem' }}"><i class="fas fa-edit"></i></a>
                        <a class="item-control item-delete" title="{{ localize 'D35E.DeleteItem' }}"><i class="fas fa-trash"></i></a>
                    </div>
                    {{/if}}
                </li>
                {{/each}}

            </ol>
        {{/each}}
            <li>
                <div style="text-align: center; color: #000000a6;">
                    <p>{{ localize 'D35E.ListDragAndDrop' }} <a style="color: #2C606D;" class="open-compendium-pack" data-pack="browser:buffs">{{ localize "D35E.ListDragAndDropCompendium" }}</a></p>

                    <p>{{ localize 'D35E.ListDragAndDropOrAdd' }}</p>
                </div>
            </li>
        </ol>
    </div>
</section>
