{{!-- Feat Navigation --}}
<nav class="sheet-navigation tabs subtabs feats" data-group="feats">
  {{#each sections as |section sid|}}
  <a class="item" data-tab="{{sid}}">{{section.label}}</a>
  {{/each}}
</nav>

<section class="feats-body">
  {{#each sections as |section sid|}}
  <div class="tab feats-group flexcol" data-group="feats" data-tab="{{sid}}">

    {{#if section.isClass}}
    <div class="flexrow" style="flex: none">
      <h2 class="block-header" style="flex: 1">{{ localize 'D35E.LevelProgression' }}</h2>
      <div class="form-group flexrow" style="flex: 0 150px;">
        <label>{{ localize 'D35E.UseClassProgression' }}</label>
        <label class="checkbox"  style="flex: 0 16px; margin-right: 8px; position: relative">
          <input type="checkbox" class="stylized level-up-progression" name="data.details.levelUpProgression"  data-dtype="Boolean" {{checked ../data.details.levelUpProgression}} />
          <span class="checkmark"></span>
        </label>
      </div>
    </div>
      {{#if ../data.details.levelUpProgression}}
      <div class="flexrow level-up-boxes">
        <div class="flexrow level-up-boxes-overlay" >

          <div class="level-class-image" style="opacity: 0.6"><span class="level">1</span></div>
          <div class="level-class-image" style="opacity: 0.6"><span class="level">2</span></div>
          <div class="level-class-image" style="opacity: 0.6"><span class="level">3</span></div>
          <div class="level-class-image" style="opacity: 0.6"><span class="level">4</span></div>
          <div class="level-class-image" style="opacity: 0.6"><span class="level">5</span></div>
          <div class="level-class-image" style="opacity: 0.6"><span class="level">6</span></div>
          <div class="level-class-image" style="opacity: 0.6"><span class="level">7</span></div>
          <div class="level-class-image" style="opacity: 0.6"><span class="level">8</span></div>
          <div class="level-class-image" style="opacity: 0.6"><span class="level">9</span></div>
          <div class="level-class-image" style="opacity: 0.6"><span class="level">10</span></div>
          <div class="level-class-image" style="opacity: 0.6"><span class="level">11</span></div>
          <div class="level-class-image" style="opacity: 0.6"><span class="level">12</span></div>
          <div class="level-class-image" style="opacity: 0.6"><span class="level">13</span></div>
          <div class="level-class-image" style="opacity: 0.6"><span class="level">14</span></div>
          <div class="level-class-image" style="opacity: 0.6"><span class="level">15</span></div>
          <div class="level-class-image" style="opacity: 0.6"><span class="level">16</span></div>
          <div class="level-class-image" style="opacity: 0.6"><span class="level">17</span></div>
          <div class="level-class-image" style="opacity: 0.6"><span class="level">18</span></div>
          <div class="level-class-image" style="opacity: 0.6"><span class="level">19</span></div>
          <div class="level-class-image" style="opacity: 0.6"><span class="level">20</span></div>
          <div class="level-class-image" style="opacity: 0.6"><span class="level">21</span></div>
          <div class="level-class-image" style="opacity: 0.6"><span class="level">22</span></div>
          <div class="level-class-image" style="opacity: 0.6"><span class="level">23</span></div>
          <div class="level-class-image" style="opacity: 0.6"><span class="level">24</span></div>
          <div class="level-class-image" style="opacity: 0.6"><span class="level">25</span></div>
          <div class="level-class-image" style="opacity: 0.6"><span class="level">26</span></div>

        </div>
        <div class="flexrow">

          {{#each ../data.details.levelUpData as |levelUpData i|}}
            <a for="{{levelUpData.id}}" class="level-class-image configure-level-up-data active" {{#if levelUpData.classImage}}style="background-image: url({{levelUpData.classImage}}){{/if}}">
              <span class="level">{{levelUpData.level}}</span>
              {{#if levelUpData.hasFeat}}
                <span class="feat"  title="{{ localize 'D35E.NewFeat' }}">
                </span>
              {{/if}}
              {{#if levelUpData.hasAbility}}
              <span class="ability" title="{{ localize 'D35E.AbilityIncrease' }}">
              </span>
              {{/if}}
            </a>

          {{/each}}
        </div>
        <ul class="attributes misc flexrow" style="flex: 0 40px;height: 100px; margin: 0;">
          <li class="attribute high tooltip">
            <h4 class="attribute-name box-title"><span style="text-transform: capitalize;">{{ localize 'D35E.Level' }}</span></h4>
            <div class="attribute-value" style="font-size: 2rem">
              <input style="font-size: 2rem; line-height: 30px; height: 50px;" type="text" name="data.details.level.available" value="{{../data.details.level.available}}" data-dtype="Number"/>
            </div>
          </li>
        </ul>
      </div>
      {{/if}}
    {{/if}}
    {{#if section.isFeat}}
      <ul class="attributes misc flexrow" style="flex:0">

        {{#each ../counters.feat as |featcount ftc|}}
        <li class="attribute high tooltip">
          <h4 class="attribute-name box-title"><span style="text-transform: capitalize;">{{ftc}}</span> {{ localize 'D35E.FeatPool' }}</h4>
          <div class="attribute-value">
            <span>{{featcount.counted}}</span>
          </div>

            <footer class="attribute-footer">
              <span>{{featcount.value}}</span>
            </footer>
        </li>
        {{/each}}
      </ul>
    {{/if}}
    <ol class="inventory-list sub-scroll scroll-feats">
      <li class="inventory-header flexrow">
        <h3 class="item-name flexrow"></h3>

        {{#if section.hasActions}}
        <div class="item-detail item-actions"><span>{{ localize 'D35E.ActionPlural' }}</span></div>
        <div class="item-detail item-uses"><span>{{ localize 'D35E.ChargePlural' }}</span></div>
        <div class="item-detail item-usage"><span>{{ localize 'D35E.Usage' }}</span></div>
        {{/if}}

        {{#if section.isClassFeat}}
          <div class="item-detail item-usage"><span>{{ localize 'D35E.FeatPool' }}</span></div>
        {{/if}}

        {{#if section.isFeat}}
          <div class="item-detail item-usage"><span>{{ localize 'D35E.FeatPool' }}</span></div>
        {{/if}}

        {{#if section.isClass}}
        <div class="item-detail item-feat-level"><span>{{ localize 'D35E.Level' }}</span></div>
        {{/if}}

        {{#if ../owner}}
        <div class="item-controls">
          {{#if section.canCreate}}

          {{#if section.hasPack}}
            <a  class="open-compendium-pack" data-pack="{{section.pack}}" title="{{ localize 'D35E.CreateItem' }}" {{#each section.dataset as |v k|}}data-{{k}}="{{v}}"{{/each}}>
              <i class="fas fa-atlas"></i> {{ localize 'D35E.Add' }}
            </a>
          {{/if}}
          <a class="item-control item-create" style="flex: 0; margin-left: 4px;" title="{{ localize 'D35E.CreateItem' }}" {{#each section.dataset as |v k|}}data-{{k}}="{{v}}"{{/each}}>
            <i class="fas fa-plus"></i> {{ localize 'D35E.New' }}
          </a>
          {{/if}}
        </div>
        {{/if}}
      </li>

      <ol class="item-list">
        {{#each section.items as |item iid|}}
        <li class="item flexrow {{#unless isCharged}}uncharged{{/unless}}" data-item-id="{{item._id}}">
          {{#unless section.isClass}}
          <div class="item-name flexrow rollable">
            <div class="item-image" style="background-image: url('{{item.img}}')"></div>
            <h4>
              {{item.name}}
              {{#if item.data.abilityType}}
              (<span style="text-transform: capitalize;">{{item.data.abilityType}}</span>)
              {{/if}}

              {{#if item.unmetRequirements}}
                <i class="fas fa-tasks tooltip non-rollable" style="color: darkred">
                  <div class="tooltipcontent">{{{ localize 'D35E.HasUnmetRequirements' }}}

                    {{#each item.unmetRequirements as |req|}}
                    <p>{{req}}</p>
                    {{/each}}
                  </div>
                </i>
              {{/if}}

              {{#if item.data.linkImported}}
              <i class="fas fa-link non-rollable" style="color: black; opacity: 0.7">
              </i>
              <em style="color: black; opacity: 0.7" class="non-rollable">{{item.data.linkSourceName}}</em>
              {{/if}}
            </h4>

          </div>
          {{else}}
          <div class="item-name flexrow">
            <div class="item-image class-icon rollable" style="background-image: url('{{item.img}}')"></div>
            <div class="flexcol">
              <h2 class="block-header" style="margin: 0; font-size: 2rem;">
                {{item.name}}
              </h2>
              <div class="flexrow">
                <span style="flex: none; margin-right: 10px"><strong>{{ localize 'D35E.HD' }}:</strong> {{item.data.hd}}</span>
                <span style="flex: none; margin-right: 10px"><strong>{{ localize 'D35E.SkillPointsPerLevel' }}:</strong> {{item.data.skillsPerLevel}}</span>
                <span style="flex: none; margin-right: 10px"><strong>{{ localize 'D35E.BABAbbr' }}:</strong> {{item.data.bab}}</span>

                {{#if item.unmetRequirements}}
                <span class="tooltip" style="flex: none; margin-right: 10px; color: darkred"><strong>{{ localize 'D35E.ClassHasUnmetRequirements' }}</strong>
                  <div class="tooltipcontent">{{{ localize 'D35E.ClassHasUnmetRequirements' }}}

                    {{#each item.unmetRequirements as |req|}}
                    <p>{{req}}</p>
                    {{/each}}
                  </div>
                </span>
                {{/if}}
              </div>
              <p></p>
            </div>
          </div>
          {{/unless}}

          {{#if section.hasActions}}
          <div class="item-detail item-actions">
            <div class="item-attack">
              {{#if item.hasAction}}
              <a class="item-control item-attack"><img class="icon" src="systems/D35E/icons/actions/gladius.svg"></a>
              {{/if}}
            </div>
          </div>

          <div class="item-detail item-uses flexrow {{#if item.isCharged}}tooltip{{/if}}">
            {{#if item.isCharged}}
                        {{#unless item.isRecharging}}
                        {{#unless item.data.linkedChargeItem.id}}
                        <input type="text" value="{{item.data.uses.value}}" data-dtype="Number" />
                        {{else}}
                        <input type="text" value="{{item.charges}}" disabled data-dtype="Number" />
                        {{/unless}}
                        <span class="sep"> of </span>
                        {{#unless item.data.linkedChargeItem.id}}
                        <input type="text" value="{{item.maxCharges}}" disabled data-dtype="Number" />
                        {{else}}
                        <input type="text" value="{{item.maxCharges}}" disabled data-dtype="Number" />

                        {{/unless}}
                        <span class="tooltipcontent">
                            @resources.{{item.tag}}.value : {{item.data.uses.value}}<br>
                            @resources.{{item.tag}}.max : {{item.data.uses.max}}
                            {{#if item.hasTimedRecharge}}
                            <br><br>
                            This item will recharge after use <br>after {{item.data.recharge.formula}} rounds.
                            {{/if}}
                        </span>
                        <i class="fas fa-history recharge-icon"></i>
                        {{else}}
                        <span><i class="fas fa-history"></i> Ready in {{item.data.recharge.current}}</span>
                        {{/unless}}
                        {{/if}}
          </div>
          <div class="item-detail item-usage">
            {{#if item.data.activation.type }}
            <span>{{item.labels.activation}}</span>
            {{/if}}
          </div>

          {{#if section.isClassFeat}}
          <div class="item-detail item-usage">
          {{#if item.data.source}}
             <em style="opacity: 0.8">{{item.data.source}}</em>
          {{/if}}
          </div>
          {{/if}}
          {{#if section.isFeat}}
          <div class="item-detail item-usage">
          {{#if item.data.source}}
             <em style="opacity: 0.8">{{item.data.source}}</em>
          {{else}}
              <select name="item.data.classSource" style="width: 100%" data-dtype="String" class="feat-group-selector">
                  {{#select item.data.classSource}}
                  <option value="">{{ localize 'D35E.Base' }}</option>
                  {{#each ../../featCounters as |ftt a|}}
                  <option value="{{ftt.val}}" style="text-transform: capitalize">{{ftt.name}}</option>
                  {{/each}}
                  {{/select}}
              </select>
            
          {{/if}}
          </div>
          {{/if}}
          {{else if section.isClass}}
          <div class="flexcol item-feat-level class-level-box tooltip" style="text-align: center">
            <p style="font-size: 1.2rem;flex: 0; margin: 0">Level</p>
            <p style="font-size: 2rem; ">{{item.data.levels}}</p>
            <span class="tooltipcontent">@classes.{{item.data.tag}}.level : {{item.data.levels}}</span>
          </div>
          {{/if}}

          {{#if ../../owner}}
          <div class="item-controls">
            <a class="item-control item-edit" title="{{ localize 'D35E.EditItem' }}"><i class="fas fa-edit"></i></a>
            {{#unless item.data.userNonRemovable}}
            {{#unless item.data.linkImported}}
              <a class="item-control item-delete" title="{{ localize 'D35E.DeleteItem' }}"><i class="fas fa-trash"></i></a>
              {{/unless}}
            {{/unless}}
          </div>
          {{/if}}
          {{#if section.isClass}}
          <div class="item-summary" style="border-top: none; border-bottom: 1px solid #c9c7b8;">
            <h3 class="block-header" onclick="$('.item-list-class-{{iid}}').slideToggle(); $('.item-list-h-{{iid}}').toggle(); $('.item-list-s-{{iid}}').toggle();">
              {{ localize 'D35E.ClassFeatures' }}
              <span class="item-list-s-{{iid}}" style="margin-left: 4px; opacity: 0.7"><i class="fas fa-angle-double-down"></i></span>
              <span class="item-list-h-{{iid}}" style="margin-left: 4px;display: none; opacity: 0.7"><i class="fas fa-angle-double-up"></i></span></h3>
            <ol class="item-list item-list-class-{{iid}}">
              {{#each item.classFeatures as |iitem iiid|}}
              <li class="item flexrow" data-item-id="{{iitem._id}}">
                <div class="item-name flexrow rollable">
                  <div class="item-image" style="background-image: url('{{iitem.img}}')"></div>
                  <h4>{{iitem.name}}

                    {{#if iitem.data.abilityType}}
                    (<span style="text-transform: capitalize;">{{iitem.data.abilityType}}</span>)
                    {{/if}}

                  </h4>
                </div>

                <div class="item-detail item-actions">
                  <div class="item-attack">
                    {{#if iitem.hasAction}}
                    <a class="item-control item-attack"><img class="icon" src="systems/D35E/icons/actions/gladius.svg"></a>
                    {{/if}}
                  </div>
                </div>

                <div class="item-detail item-uses flexrow {{#if item.isCharged}}tooltip{{/if}}">
                  {{#if iitem.isCharged}}
                  <input type="text" value="{{iitem.data.uses.value}}" data-dtype="Number"/>
                  <span class="sep"> of </span>
                  <input type="text" value="{{iitem.data.uses.max}}" disabled data-dtype="Number"/>
                      <span class="tooltipcontent">
                  @resources.{{iitem.tag}}.value : {{iitem.data.uses.value}}<br>
                  @resources.{{iitem.tag}}.max : {{iitem.data.uses.max}}
                </span>
                      {{/if}}
                </div>
                <div class="item-detail item-usage">
                  <em style="opacity: 0.8">{{iitem.data.source}}</em>
                </div>

                {{#if ../../../owner}}
                <div class="item-controls">
                  <a class="item-control item-edit" title="{{ localize 'D35E.EditItem' }}"><i class="fas fa-edit"></i></a>
                  {{#unless iitem.data.userNonRemovable}}
                  {{#unless iitem.data.linkImported}}
                  <a class="item-control item-delete" title="{{ localize 'D35E.DeleteItem' }}"><i class="fas fa-trash"></i></a>
                  {{/unless}}
                  {{/unless}}
                </div>
                {{/if}}
              </li>
              {{else}}
              <h3  class="sublist-empty">{{ localize 'D35E.ClassNoFeatures' }}</h3>
              {{/each}}
            </ol>
          </div>
          <div class="item-summary" style="border-top: none; border-bottom: 1px solid #c9c7b8;">
            <h3 class="block-header" onclick="$('.item-list-class-passive-{{iid}}').slideToggle(); $('.item-list-h-passive-{{iid}}').toggle(); $('.item-list-s-passive-{{iid}}').toggle();">
              {{ localize 'D35E.NonActiveClassAbilities' }}
              <span class="item-list-s-passive-{{iid}}" style="margin-left: 4px; opacity: 0.7"><i class="fas fa-angle-double-down"></i></span>
              <span class="item-list-h-passive-{{iid}}" style="margin-left: 4px;display: none; opacity: 0.7"><i class="fas fa-angle-double-up"></i></span></h3>
            <ol class="item-list item-list-class-passive-{{iid}}">
              {{#each item.passiveClassFeatures as |iitem|}}
              <li class="item flexrow" data-item-id="passive-feature">
                <div class="item-name flexrow">
                  <div class="item-image non-rollable" style="background-image: url('systems/D35E/icons/special-abilities/imported.png')"></div>
                  <h4>{{iitem.name}}</h4>
                </div>

                <div class="item-detail item-actions">
                  <div class="item-attack">
                  </div>
                </div>

                <div class="item-detail item-uses flexrow {{#if item.isCharged}}tooltip{{/if}}">
                </div>
                <div class="item-detail item-usage">
                  <em style="opacity: 0.8">{{localize 'D35E.Level'}} {{iitem.level}}</em>
                </div>
                <div class="item-summary" style="display: none">{{{iitem.description}}}</div>
              </li>

              {{else}}
              <h3  class="sublist-empty">{{localize 'D35E.No'}} {{ localize 'D35E.NonActiveClassAbilities' }}</h3>
              {{/each}}
            </ol>
          </div>
          {{/if}}
        </li>
        {{/each}}
        {{#if section.canCreate}}
        {{#unless section.items}}
        <li>
          <div style="text-align: center; padding: 5rem; color: #000000a6;">

            {{#if section.hasPack}}
            <p style="font-size: 1rem">{{ localize 'D35E.ListDragAndDrop' }} <a style="color: #2C606D;" class="open-compendium-pack" data-pack="{{section.pack}}">{{ localize section.emptyLabel }}</a></p>
            {{/if}}
            <p>{{ localize 'D35E.ListDragAndDropOrAdd' }}</p>
          </div>
        </li>
        {{else}}
        <li>
          <div style="text-align: center; color: #000000a6;">

            {{#if section.hasPack}}
            <p>{{ localize 'D35E.ListDragAndDrop' }} <a style="color: #2C606D;" class="open-compendium-pack" data-pack="{{section.pack}}">{{ localize section.emptyLabel }}</a></p>
            {{/if}}
            <p>{{ localize 'D35E.ListDragAndDropOrAdd' }}</p>
          </div>
        </li>
        {{/unless}}
        {{/if}}
      </ol>
    </ol>
  </div>
  {{/each}}
</section>
